<a href="https://colab.research.google.com/github/SungchulLee/colab/blob/main/exercise_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###***Chapter 0 Installment Extra Packages***

#####***Install yfinance***

In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.13-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.3/59.3 KB 2.6 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Collecting appdirs>=1.4.4
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.6-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.3/114.3 KB 6.2 MB/s eta 0:00:00
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.2-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 50.7 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: appdirs, frozendict, cryptography, yfinance
Successfully installed appdirs-1.4.4 cryptography-39.0.2 frozendict-2.3.6 yfinance-0.2.13

#####***Import Basic Modules***

In [ ]:
import enum 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import yfinance as yf
from scipy import stats

###***Chapter Built-in Functions***

####***Section print***

#####***001***

001 print 기초
화면에 Hello World 문자열을 출력하세요.

######***Solution***

In [ ]:
def main():
    print("Hello World")

if __name__ == "__main__":
    main()

5

#####***006***

006 print 여러 데이터 출력
print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
```
print ("오늘은", "일요일")
```

######***Solution***

In [ ]:
def main():
    print ("오늘은", "일요일")

if __name__ == "__main__":
    main()

오늘은 일요일

#####***007***

007 print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.
```
naver;kakao;sk;samsung
```

######***Solution***

In [ ]:
def main():
    print("naver", "kakao", "sk", "samsung", sep=";")

if __name__ == "__main__":
    main()

naver;kakao;sk;samsung

#####***008***

008 print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.
```
naver/kakao/sk/samsung
```

######***Solution***

In [ ]:
def main():
    print("naver", "kakao", "sk", "samsung", sep="/")

if __name__ == "__main__":
    main()

naver/kakao/sk/samsung

#####***009***

009 print 줄바꿈
다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
```
print("first");print("second")
```

######***Solution***

In [ ]:
def main():
    print("first", end=""); print("second")

if __name__ == "__main__":
    main()

firstsecond

#####***010***

010 연산 결과 출력
5/3의 결과를 화면에 출력하세요.

######***Solution***

In [ ]:
def main():
    print(5/3)

if __name__ == "__main__":
    main()

1.6666666666666667

###***Chapter Variable***

#####***011***

011 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

######***Solution***

In [ ]:
def main():
    삼성전자 = 50_000
    주식수  = 10
    평가금액  = 삼성전자  * 주식수
    print(f"{평가금액 = :,}")

if __name__ == "__main__":
    main()

평가금액 = 500,000

#####***012***

012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
```
항목      값
시가총액   298조
현재가    50,000원
PER     15.79
```

######***Solution***

In [ ]:
def main():
    시가총액 = 298_000_000_000_000
    현재가 = 50_000
    PER = 15.79
    print(f"{시가총액 = :,}", type(시가총액))
    print(f"{현재가 = :,}", type(현재가))
    print(f"{PER = }", type(PER))

if __name__ == "__main__":
    main()

시가총액 = 298,000,000,000,000 <class 'int'>
현재가 = 50,000 <class 'int'>
PER = 15.79 <class 'float'>

###***Chapter 4 Integer***

#####***Problem 1***

Problem 1: Open a new Python interpreter and use it to find the value of 2 + 3.

######***Solution***

In [ ]:
def main():
    print(2+3)

if __name__ == "__main__":
    main()

5

###***Chapter 5 Float***

###***Chapter 6 Complex***

###***Chapter 7 String***

####***Section Indexing and Slicing***

#####***Exercise***

```
"""
Complete this function such that it returns True if and only if
the string passed into this function is a palindrome, that is if 
it is the same string of characters forwards and in reverse. 
Return False otherwise. 
"""
def is_palindrome(input_string):
    # Delete pass, and put your code here.
    pass


# Very Simple Tests:
assert is_palindrome('racecar') == True
assert is_palindrome('battle') == False
assert is_palindrome('wasitabatisaw') == True
assert is_palindrome('a') == True
assert is_palindrome('abca') == False
## ADD AT LEAST 3 MORE TESTS ##

## Just helpful to see, if this prints your tests all passed!
print("All tests passed.")
```

[Sorce](https://github.com/Tebs-Lab/intro-to-programming/blob/master/exercises/writing-exercises/01-is-palindrome.py)

######***Solution***

In [ ]:
def is_palindrome(input_string):
    return input_string == input_string[::-1]

def main():
    assert is_palindrome('racecar') == True
    assert is_palindrome('battle') == False
    assert is_palindrome('wasitabatisaw') == True
    assert is_palindrome('a') == True
    assert is_palindrome('abca') == False
    assert is_palindrome('aba') == True
    assert is_palindrome('abab') == False
    assert is_palindrome('ababa') == True
    print("All tests passed.")

if __name__ == "__main__":
    main()

All tests passed.

####***Section Escape Character***

#####***002***

002 print 기초
화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

######***Solution***

In [ ]:
def main():
    print("Mary's cosmetics")
    print('Mary\'s cosmetics') 

if __name__ == "__main__":
    main()

Mary's cosmetics
Mary's cosmetics

#####***003***

003 print 기초
화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

신씨가 소리질렀다. "도둑이야".

######***Solution***

In [ ]:
def main():
    print('신씨가 소리질렀다. "도둑이야".')
    print("신씨가 소리질렀다. \"도둑이야\".")

if __name__ == "__main__":
    main()

신씨가 소리질렀다. "도둑이야".
신씨가 소리질렀다. "도둑이야".

#####***004***

004 print 기초
화면에 "C:\Windows"를 출력하세요.

######***Solution***

In [ ]:
def main():
    print("C:\\Windows")

if __name__ == "__main__":
    main()

C:\Windows

#####***005***

005 print 탭과 줄바꿈
다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
```
print("안녕하세요.\n만나서\t\t반갑습니다.")
```

######***Solution***

In [ ]:
def main():
    # \n - new line
    # \t - tab
    print("안녕하세요.\n만나서\t\t반갑습니다.")

if __name__ == "__main__":
    main()

안녕하세요.
만나서		반갑습니다.

####***Section Dtype Change***

#####***016***

016 문자열을 정수로 변환
문자열 '720'를 정수형으로 변환해보세요.
```
>>> num_str = "720"
```

######***Solution***

In [ ]:
def main():
    num_str = "720"
    num = int(num_str)
    print(num, type(num))

if __name__ == "__main__":
    main()

720 <class 'int'>

#####***017***

017 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.
```
num = 100
```

######***Solution***

In [ ]:
def main():
    num = 100
    num_str = str(num)
    print(num_str, type(num_str))

if __name__ == "__main__":
    main()

100 <class 'str'>

#####***018***

018 문자열을 실수로 변환
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

######***Solution***

In [ ]:
def main():
    num_str = "15.79"
    num = float(num_str)
    print(num, type(num))

if __name__ == "__main__":
    main()

15.79 <class 'float'>

####***Section String Method - replace***

#####***025***

025 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
```
>> phone_number = "010-1111-2222"
```
```
실행 예
010 1111 2222
```

######***Solution***

In [ ]:
def main():
    phone_number = "010-1111-2222"
    phone_number1 = phone_number.replace("-", " ")
    print(phone_number1)

if __name__ == "__main__":
    main()

010 1111 2222

#####***026***

026 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
```
실행 예
01011112222
```

######***Solution***

In [ ]:
def main():
    phone_number = "010-1111-2222"
    phone_number1 = phone_number.replace("-", "")
    print(phone_number1)

if __name__ == "__main__":
    main()

01011112222

#####***029***

029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
```
>> string = 'abcdfe2a354a32a'
```
```
실행 예:
Abcdfe2A354A32A
```

######***Solution***

In [ ]:
def main():
    string = 'abcdfe2a354a32a'
    string = string.replace('a', 'A')
    print(string)

if __name__ == "__main__":
    main()

Abcdfe2A354A32A

#####***038***

038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
```
상장주식수 = "5,969,782,550"
```

######***Solution***

In [ ]:
def main():
    상장주식수 = "5,969,782,550"
    컴마제거 = 상장주식수.replace(",", "")
    타입변환 = int(컴마제거)
    print(타입변환, type(타입변환))

if __name__ == "__main__":
    main()

5969782550 <class 'int'>

####***Section String Method - strip, lstrip, rstrip***

#####***040***

040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
```
data = "   삼성전자    "
```

######***Solution***

In [ ]:
def main():
    data = "   삼성전자    "
    data1 = data.strip()
    print(data1)

if __name__ == "__main__":
    main()

삼성전자

#####***050***

050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
```
data = "039490     "
```

######***Solution***

In [ ]:
def main():
    data = "039490     "
    data = data.rstrip()
    print(data)

if __name__ == "__main__":
    main()

039490

####***Section String Method - split***

#####***027***

027 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
```
>> url = "http://sharebook.kr"
```
```
실행 예:
kr
```

######***Solution***

In [ ]:
def main():
    url = "http://sharebook.kr"
    url_split = url.split('.')
    print(url_split[-1])

if __name__ == "__main__":
    main()

kr

#####***047***

047 split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
```
a = "hello world"
```

######***Solution***

In [ ]:
def main():
    a = "hello world"
    print(a.split())

if __name__ == "__main__":
    main()

['hello', 'world']

#####***048***

048 split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
```
ticker = "btc_krw"
```

######***Solution***

In [ ]:
def main():
    ticker = "btc_krw"
    print(ticker.split("_"))

if __name__ == "__main__":
    main()

['btc', 'krw']

#####***049***

049 split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
```
date = "2020-05-01"
```

######***Solution***

In [ ]:
def main():
    date = "2020-05-01"
    print(date.split("-"))

if __name__ == "__main__":
    main()

['2020', '05', '01']

#####***123***

123
사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

######***Solution***

In [ ]:
def main():
    환율 = {"달러": 1167, 
            "엔": 1.096, 
            "유로": 1268, 
            "위안": 171}
    user = input("입력: ")
    num, currency = user.split()
    print(float(num) * 환율[currency], "원")

if __name__ == "__main__":
    main()

####***Section String Method - upper, lower, capitalize***

#####***041***

041 upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
```
ticker = "btc_krw"
```

######***Solution***

In [ ]:
def main():
    ticker = "btc_krw"
    ticker1 = ticker.upper()
    print(ticker1)

if __name__ == "__main__":
    main()

삼성전자

#####***042***

042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
```
ticker = "BTC_KRW"
```

######***Solution***

In [ ]:
def main():
    ticker = "BTC_KRW"
    ticker = ticker.lower()
    print(ticker)

if __name__ == "__main__":
    main()

btc_krw

#####***043***

043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

######***Solution***

In [ ]:
def main():
    a = "hello"
    a = a.capitalize()
    print(a)

if __name__ == "__main__":
    main()

Hello

####***Section String Method - isupper, islower, iscapitalize***

#####***121***

121
사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

######***Solution***

In [ ]:
def main():
    user = input("")
    if user.islower():
        print(user.upper())
    else:
        print(user.lower())

if __name__ == "__main__":
    main()

####***Section String Method - startwith, endwith***

#####***044***

044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.
```
file_name = "보고서.xlsx"
```

######***Solution***

In [ ]:
def main():
    file_name = "보고서.xlsx"
    print(file_name.endswith("xlsx"))

if __name__ == "__main__":
    main()

Hello

#####***045***

045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
```
file_name = "보고서.xls"
```

######***Solution***

In [ ]:
def main():
    file_name = "보고서.xls"
    print(file_name.endswith(("xlsx", "xls")))

if __name__ == "__main__":
    main()

Hello

#####***046***

046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
```
file_name = "2020_보고서.xlsx"
```

######***Solution***

In [ ]:
def main():
    file_name = "2020_보고서.xlsx"
    print(file_name.startswith("2020"))

if __name__ == "__main__":
    main()

Hello

####***Section Format String***

#####***035***

035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
```
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
```
```
이름: 김민수 나이: 10
이름: 이철희 나이: 13
```

######***Solution***

In [ ]:
def main():
    name1 = "김민수" 
    age1 = 10
    name2 = "이철희"
    age2 = 13
    print("이름: %s 나이: %d" % (name1, age1))
    print("이름: %s 나이: %d" % (name2, age2))

if __name__ == "__main__":
    main()

이름: 김민수 나이: 10
이름: 이철희 나이: 13

#####***036***

036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

######***Solution***

In [ ]:
def main():
    name1 = "김민수" 
    age1 = 10
    name2 = "이철희"
    age2 = 13
    print("이름: {} 나이: {}".format(name1, age1))
    print("이름: {} 나이: {}".format(name2, age2))

if __name__ == "__main__":
    main()

이름: 김민수 나이: 10
이름: 이철희 나이: 13

#####***037***

037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

######***Solution***

In [ ]:
def main():
    name1 = "김민수" 
    age1 = 10
    name2 = "이철희"
    age2 = 13
    print(f"이름: {name1} 나이: {age1}")
    print(f"이름: {name2} 나이: {age2}")

if __name__ == "__main__":
    main()

이름: 김민수 나이: 10
이름: 이철희 나이: 13

####***Section 10 Built-in Function - input***

#####***111***

사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.
```
>> 안녕하세요
안녕하세요안녕하세요
```

######***Solution***

In [ ]:
def main():
    user = input("입력:")
    print(user * 2)

if __name__ == "__main__":
    main()

입력:안녕하세요
안녕하세요안녕하세요

#####***Exercise [eng](https://www.youtube.com/watch?v=6RkGmqcfiTw&list=PLS1QulWo1RIZuCYHd7QUVCQbBxEhu9aDP&index=11)***

Below code takes two numbers from the user and peint the sum of these two numbers. However, there is a bug in the code. Please fix the bug.
```
def add_two_numbers(x, y):
    return x + y

def main():
    x = input("Input your first number : ")
    y = input("Input your second number : ")
    z = add_two_numbers(x, y)
    print(f"Sum of two input numbers : {z}")

if __name__ == "__main__":
    main()
```

```
Input your first number : 3
Input your second number : 4
Sum of two input numbers : 34
```

######***Solution***

In [ ]:
def add_two_numbers(x, y):
    return x + y

def main():
    x = int(input("Input your first number : ")) # <--- fix the bug
    y = int(input("Input your second number : ")) # <--- fix the bug
    z = add_two_numbers(x, y)
    print(f"Sum of two input numbers : {z}")

if __name__ == "__main__":
    main()

Input your first number : 3
Input your second number : 4
Sum of two input numbers : 34

###***Chapter 8 Boolean***

#####***101***

101
파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

######***Solution***

In [ ]:
def main():
    print(type(True))

if __name__ == "__main__":
    main()

<class 'bool'>

#####***Exercise***

Guess the output of the following:
```
print(3 == 3.0)
```

######***Solution***

In [ ]:
def main():
    print(3 == 3.0)

if __name__ == "__main__":
    main()

True

#####***Exercise***

Guess the output of the following:
```
print("B" < "a")
```

######***Solution***

In [ ]:
def main():
    print("B" < "a")

if __name__ == "__main__":
    main()

True

###***Chapter 9 None***

###***Chapter 13 List***

####***Section List Indexing and Slicing***

#####***Exercise***

Remove items of the list a which are also members of another list b. Below is a code with bugs. Fix the bugs. Use the list slicing.
```
a = [1,2,3,4]
b = [1,2,5,6]

for item in a:
    if item in b:
        a.remove(item)

print(a) # we expect [3,4] but we have [2, 3, 4]
```

######***Solution***

In [ ]:
def main():
    a = [1,2,3,4]
    b = [1,2,5,6]

    for item in a[:]: # list slicing a[:] - copy of a
        if item in b:
            a.remove(item)

    print(a) 

if __name__ == "__main__":
    main()

[4, 3, 2, 1]
[1, 2, 3, 4]

####***Section del***

#####***054***

054
movie_rank 리스트에서 '럭키'를 삭제하라.
```
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
```

######***Solution***

In [ ]:
def main():
    movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
    del movie_rank[3]
    print(movie_rank)

if __name__ == "__main__":
    main()

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

#####***055***

055
movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
```
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
```

######***Solution***

In [ ]:
def main():
    movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
    del movie_rank[2]
    del movie_rank[2]
    print(movie_rank)

if __name__ == "__main__":
    main()

####***Section Membership Test***

#####***Exercise***

Guess the output of the following:
```
print(True in [0])
print(True in [1])
```

######***Solution***

In [ ]:
def main():
    print(True in [0])
    print(True in [1])

if __name__ == "__main__":
    main()

False
True

####***Section List Method - append***

#####***Exercise***

Guess the output of the following:
```
lst = [0,1,2,3,4,5]
lst = lst.append(6)
print(lst)
```

######***Solution***

In [ ]:
def main():
    lst = [0,1,2,3,4,5]
    lst = lst.append(6)
    print(lst)

if __name__ == "__main__":
    main()

None

#####***Problem 1***

Problem 1: What will be the output of the following program?
```
x = [0, 1, [2]]
x[2][0] = 3
print(x)
x[2].append(4)
print(x)
x[2] = 2
print(x)
```

######***Solution***

In [ ]:
def main():
    x = [0, 1, [2]] # x = [0, 1, [2]] 
    x[2][0] = 3 # x = [0, 1, [3]]
    print(x) # [0, 1, [3]]
    x[2].append(4) # x = [0, 1, [3, 4]]
    print(x) # [0, 1, [3, 4]]
    x[2] = 2 # x = [0, 1, 2]
    print(x) # [0, 1, 2]

if __name__ == "__main__":
    main()

[0, 1, [3]]
[0, 1, [3, 4]]
[0, 1, 2]

#####***Exercise***

Guess the output of the following:
```
lst = [0,1,2,3,4,5]
id_before_append = id(lst)
lst.append(6)
id_after_append = id(lst)
print(id_before_append == id_after_append)
```

######***Solution***

In [ ]:
def main():
    lst = [0,1,2,3,4,5]
    id_before_append = id(lst)
    lst.append(6)
    id_after_append = id(lst)
    print(id_before_append == id_after_append)

if __name__ == "__main__":
    main()

True

#####***Exercise***

```
"""
Complete this function such that it returns a new list
which contains all values that appear more than once in
the list passed into the function. Each duplicated value
should appear exactly once in the output list regardless
of how many times it is duplicated. 
If no items are duplicated, return an empty list. 
"""
def duplicates(input_list):
    # Delete pass, and put your code here.
    pass


# Very Simple Tests
# in Python == for two lists means "do the items in the list match exactly, order included"
assert duplicates([1, 2, 3, 1]) == [1]
assert duplicates([3, 3, 3, 3, 3]) == [3]

# Note the use of sorted here: your function can return the duplicates
# in any order, but calling sorted on them makes it easier to test the
# output. 
assert sorted(duplicates([1, 2, 3, 4, 1, 2, 3, 4])) == [1,2,3,4]
assert sorted(duplicates([1, 1, 2, 3, 3, 4])) == [1, 3]

## ADD AT LEAST 3 MORE TESTS ##
```

[Sorce](https://github.com/Tebs-Lab/intro-to-programming/blob/master/exercises/writing-exercises/03-find-duplicates.py)

######***Solution***

In [ ]:
def duplicates(input_list):    
    items = [] # items appeared 
    duplicates_items = [] # items appeared more than once    
    for item in input_list:
        if item in items:
            if item not in duplicates_items: 
                duplicates_items.append(item)
        else:
            items.append(item)
    return duplicates_items

def main():
    assert duplicates([1, 2, 3, 1]) == [1]
    assert duplicates([3, 3, 3, 3, 3]) == [3]
    assert sorted(duplicates([1, 2, 3, 4, 1, 2, 3, 4])) == [1,2,3,4]
    assert sorted(duplicates([1, 1, 2, 3, 3, 4])) == [1, 3]
    assert sorted(duplicates([])) == []
    assert sorted(duplicates(["hi", "Hi", "HI", "Hi", "hi"])) == ["Hi", "hi"]

    # sorted does not work since comparison of integer and string not supported
    assert duplicates([1, "Hi", "HI", "Hi", 1]) == ["Hi", 1]

    # this last example does not return list that I expect
    # expected : duplicates([1, True]) returns []
    # implemented : duplicates([1, True]) returns [True] 
    # any suggestion??? 
    assert sorted(duplicates([1, True])) == [1]
    print(duplicates([1, True]))

if __name__ == "__main__":
    main()

[True]

#####***052***

052 리스트에 원소 추가
051의 movie_rank 리스트에 "배트맨"을 추가하라.

######***Solution***

In [ ]:
def main():
    movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
    movie_rank.append("배트맨")
    print(movie_rank)

if __name__ == "__main__":
    main()

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

####***Section List Method - insert***

#####***053***

053
movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
```
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
```

######***Solution***

In [ ]:
def main():
    movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
    movie_rank.insert(1, "슈퍼맨")
    print(movie_rank)

if __name__ == "__main__":
    main()

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

#####***Problem 13***

Problem 13: Write a function lensort to sort a list of strings based on length.
```
>>> lensort(['python', 'perl', 'java', 'c', 'haskell', 'ruby'])
['c', 'perl', 'java', 'ruby', 'python', 'haskell']
```

######***Solution***

In [ ]:
def lensort(lst):
    if len(lst) <= 1:
        return lst
    out = [lst[0]]
    for item in lst[1:]:
        for idx, out_item in enumerate(out):
            if len(item)<len(out_item):
                out.insert(idx, item)
                break
            if idx==(len(out)-1):
                out.append(item)
                break
    return out
       
def main():
    print(lensort(['python', 'perl', 'java', 'c', 'haskell', 'ruby']))

if __name__ == "__main__":
    main()

['c', 'perl', 'java', 'ruby', 'python', 'haskell']

####***Section List Method - join***

#####***066***

066 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.
```
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
```
출력 예시:
```
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
```

######***Solution***

In [ ]:
def main():
    interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
    print(" ".join(interest))

if __name__ == "__main__":
    main()

#####***067***

067 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.
```
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
```
출력 예시:
```
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
```

######***Solution***

In [ ]:
def main():
    interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
    print("/".join(interest))

if __name__ == "__main__":
    main()

#####***068***

068 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.
```
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.
```
출력 예시:
```
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우
```

######***Solution***

In [ ]:
def main():
    interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
    print("\n".join(interest))

if __name__ == "__main__":
    main()

####***Section List Method - split***

#####***069***

069 문자열 split 메서드
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.
```
string = "삼성전자/LG전자/Naver"
```
이를 interest 이름의 리스트로 분리 저장하라.

실행 예시
```
['삼성전자', 'LG전자', 'Naver']
```

######***Solution***

In [ ]:
def main():
    string = "삼성전자/LG전자/Naver"
    interest = string.split("/")
    print(interest)

if __name__ == "__main__":
    main()

['삼성전자', 'LG전자', 'Naver']

####***Section List Method - sort***

#####***070***

070 리스트 정렬
리스트에 있는 값을 오름차순으로 정렬하세요.
```
data = [2, 4, 3, 1, 5, 10, 9]
```

######***Solution***

In [ ]:
def main():
    data = [2, 4, 3, 1, 5, 10, 9]
    data.sort()
    print(data)

if __name__ == "__main__":
    main()

[1, 2, 3, 4, 5, 9, 10]

####***Section List Method - pop***

#####***Problem 6***

Problem 6: Write a function reverse to reverse a list. Can you do this without using list slicing?
```
>>> reverse([1, 2, 3, 4])
[4, 3, 2, 1]
>>> reverse(reverse([1, 2, 3, 4]))
[1, 2, 3, 4]
```

######***Solution***

In [ ]:
def main():
    def reverse(lst):
        tmp = []
        while lst:
            i = lst.pop()
            tmp.append(i)
        return tmp

    print(reverse([1, 2, 3, 4]))
    print(reverse(reverse([1, 2, 3, 4])))

if __name__ == "__main__":
    main()

[4, 3, 2, 1]
[1, 2, 3, 4]

#####***Exercise***

Remove items of the list a which are also members of another list b. Below is a code with bugs. Fix the bugs. Use the list copy.
```
a = [1,2,3,4]
b = [1,2,5,6]

for item in a:
    if item in b:
        a.remove(item)

print(a) # we expect [3,4] but we have [2, 3, 4]
```

######***Solution***

In [ ]:
def main():
    a = [1,2,3,4]
    b = [1,2,5,6]

    for item in a.copy(): # use copy of a
        if item in b:
            a.remove(item)

    print(a) 

if __name__ == "__main__":
    main()

[4, 3, 2, 1]
[1, 2, 3, 4]

####***Section List Comprehension***

#####***056***

056
lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

```
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
```

실행 예:

```
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
```

######***Solution***

In [ ]:
def main():
    lang1 = ["C", "C++", "JAVA"]
    lang2 = ["Python", "Go", "C#"]
    langs = lang1 + lang2
    print(langs)

if __name__ == "__main__":
    main()

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

#####***Problem 24***

Problem 24: Provide an implementation for zip function using list comprehensions.
```
>>> zip([1, 2, 3], ["a", "b", "c"])
[(1, "a"), (2, "b"), (3, "c")]
```

######***Solution***

In [ ]:
def main():
    def zip(*iterables):
        # get the length of the shortest iterable
        shortest = min(len(i) for i in iterables)
        
        # use list comprehension to build the tuples
        return [tuple(i[j] for i in iterables) for j in range(shortest)]

    print(zip([1, 2, 3], ["a", "b", "c"]))

if __name__ == "__main__":
    main()

[(1, 'a'), (2, 'b'), (3, 'c')]

#####***Problem 25***

Problem 25: Python provides a built-in function map that applies a function to each element of a list. Provide an implementation for map using list comprehensions.
```
def square(x): return x * x
map(square, range(5))
[0, 1, 4, 9, 16]
```

######***Solution***

In [ ]:
def square(x): return x * x

def main():
    def map(func, iterable):
        return [func(i) for i in iterable]

    print(map(square, range(5)))

if __name__ == "__main__":
    main()

[0, 1, 4, 9, 16]

#####***Problem 26***

Problem 26: Python provides a built-in function filter(f, a) that returns items of the list a for which f(item) returns true. Provide an implementation for filter using list comprehensions.
```
def even(x): return x %2 == 0
filter(even, range(10))
[0, 2, 4, 6, 8]
```

######***Solution***

In [ ]:
def even(x): return x %2 == 0

def main():
    def filter(func, iterable):
        return [i for i in iterable if func(i)]

    print(filter(even, range(10)))

if __name__ == "__main__":
    main()

[0, 2, 4, 6, 8]

#####***Problem 27***

Problem 27: Write a function triplets that takes a number n as argument and returns a list of triplets such that sum of first two elements of the triplet equals the third element using numbers below n. Please note that (a, b, c) and (b, a, c) represent same triplet.
```
triplets(5)
[(1, 1, 2), (1, 2, 3), (1, 3, 4), (2, 2, 4)]
```

######***Solution***

In [ ]:
def triplets(n):
    return [(i, j, i+j) for i in range(1, n) for j in range(i, n) if i+j<n]  
    
def main():
    print(triplets(5))

if __name__ == "__main__":
    main()

[(1, 1, 2), (1, 2, 3), (1, 3, 4), (2, 2, 4)]

#####***Problem 28***

Problem 28: Write a function enumerate that takes a list and returns a list of tuples containing (index,item) for each item in the list.
```
>>> enumerate(["a", "b", "c"])
[(0, "a"), (1, "b"), (2, "c")]
>>> for index, value in enumerate(["a", "b", "c"]):
...     print(index, value)
0 a
1 b
2 c
```

######***Solution***

In [ ]:
def main():
    def enumerate(iterable):
        return [(i, iterable[i]) for i in range(len(iterable))]

    print(enumerate(["a", "b", "c"]))
    for index, value in enumerate(["a", "b", "c"]):
        print(index, value)

if __name__ == "__main__":
    main()

[(0, 'a'), (1, 'b'), (2, 'c')]
0 a
1 b
2 c

#####***Problem 29***

Problem 29: Write a function array to create an 2-dimensional array. The function should take both dimensions as arguments. Value of each element can be initialized to None:
```
>>> a = array(2, 3)
>>> a
[[None, None, None], [None, None, None]]
>>> a[0][0] = 5
[[5, None, None], [None, None, None]]
```

######***Solution***

In [ ]:
def array(n, m):
    return [[None for j in range(m)] for i in range(n)]
       
def main():
    a = array(2, 3)
    print(a)

    a[0][0] = 5
    print(a)

if __name__ == "__main__":
    main()

[[None, None, None], [None, None, None]]
[[5, None, None], [None, None, None]]

#####***Problem 30***

Problem 30: Write a python function parse_csv to parse csv (comma separated values) files.
```
>>> print(open('a.csv').read())
a,b,c
1,2,3
2,3,4
3,4,5
>>> parse_csv('a.csv')
[['a', 'b', 'c'], ['1', '2', '3'], ['2', '3', '4'], ['3', '4', '5']]
```

######***Solution***

In [ ]:
%%writefile a.csv
a,b,c
1,2,3
2,3,4
3,4,5

Writing a.csv

In [ ]:
def parse_csv(path):
    with open(path) as f:
        out = [line[:-1].split(",") for line in f.readlines()]
    return out
    
def main():
    print(parse_csv('a.csv'))

if __name__ == "__main__":
    main()

[['a', 'b', 'c'], ['1', '2', '3'], ['2', '3', '4'], ['3', '4', '5']]

#####***Problem 31***

Problem 31: Generalize the above implementation of csv parser to support any delimiter and comments.
```
>>> print(open('a.txt').read())
# elements are separated by ! and comment indicator is #
a!b!c
1!2!3
2!3!4
3!4!5
>>> parse('a.txt', '!', '#')
[['a', 'b', 'c'], ['1', '2', '3'], ['2', '3', '4'], ['3', '4', '5']]
```

######***Solution***

In [ ]:
%%writefile a.txt
# elements are separated by ! and comment indicator is #
a!b!c
1!2!3
2!3!4
3!4!5

Writing a.txt

In [ ]:
def parse(path, sep=',', com="#"):
    with open(path) as f:
        out = [line[:-1].split(sep) for line in f.readlines() if line[0] != com]
    return out
    
def main():
    print(parse('a.txt', '!', '#'))

if __name__ == "__main__":
    main()

[['a', 'b', 'c'], ['1', '2', '3'], ['2', '3', '4'], ['3', '4', '5']]

#####***Problem 32***

Problem 32: Write a function mutate to compute all words generated by a single mutation on a given word. A mutation is defined as inserting a character, deleting a character, replacing a character, or swapping 2 consecutive characters in a string. For simplicity consider only letters from a to z.
```
>>> words = mutate('hello')
>>> 'helo' in words
True
>>> 'cello' in words
True
>>> 'helol' in words
True
```

######***Solution***

In [ ]:
def mutate(word):
    mutations = set()  # use a set to avoid duplicates
    
    # Insertion
    for i in range(len(word)+1):
        for c in 'abcdefghijklmnopqrstuvwxyz':
            new_word = word[:i] + c + word[i:]
            mutations.add(new_word)
    
    # Deletion
    for i in range(len(word)):
        new_word = word[:i] + word[i+1:]
        mutations.add(new_word)
    
    # Replacement
    for i in range(len(word)):
        for c in 'abcdefghijklmnopqrstuvwxyz':
            if c != word[i]:
                new_word = word[:i] + c + word[i+1:]
                mutations.add(new_word)
    
    # Swap
    for i in range(len(word)-1):
        new_word = word[:i] + word[i+1] + word[i] + word[i+2:]
        mutations.add(new_word)
    
    return mutations
    
def main():
    words = mutate('hello')
    print('helo' in words)
    print('cello' in words)
    print('helol' in words)

if __name__ == "__main__":
    main()

True
True
True

#####***Problem 33***

Problem 33: Write a function nearly_equal to test whether two strings are nearly equal. Two strings a and b are nearly equal when a can be generated by a single mutation on b.
```
nearly_equal('python', 'perl')
False
nearly_equal('perl', 'pearl')
True
nearly_equal('python', 'jython')
True
nearly_equal('man', 'woman')
False
```

######***Solution***

In [ ]:
def mutate(word):
    mutations = set()  # use a set to avoid duplicates
    
    # Insertion
    for i in range(len(word)+1):
        for c in 'abcdefghijklmnopqrstuvwxyz':
            new_word = word[:i] + c + word[i:]
            mutations.add(new_word)
    
    # Deletion
    for i in range(len(word)):
        new_word = word[:i] + word[i+1:]
        mutations.add(new_word)
    
    # Replacement
    for i in range(len(word)):
        for c in 'abcdefghijklmnopqrstuvwxyz':
            if c != word[i]:
                new_word = word[:i] + c + word[i+1:]
                mutations.add(new_word)
    
    # Swap
    for i in range(len(word)-1):
        new_word = word[:i] + word[i+1] + word[i] + word[i+2:]
        mutations.add(new_word)
    
    return mutations

def nearly_equal(word1, word2):
    if word1 in mutate(word2):
        return True 
    if word2 in mutate(word1):
        return True 
    return False
   
def main():
    print(nearly_equal('python', 'perl'))
    print(nearly_equal('perl', 'pearl'))
    print(nearly_equal('python', 'jython'))
    print(nearly_equal('man', 'woman'))

if __name__ == "__main__":
    main()

False
True
True
False

#####***Exercise***

Remove items of the list a which are also members of another list b. Below is a code with bugs. Fix the bugs. Use the list comprehension.
```
a = [1,2,3,4]
b = [1,2,5,6]

for item in a:
    if item in b:
        a.remove(item)

print(a) # we expect [3,4] but we have [2, 3, 4]
```

######***Solution***

In [ ]:
def main():
    a = [1,2,3,4]
    b = [1,2,5,6]
    a = [i for i in a if i not in b]
    print(a) 

if __name__ == "__main__":
    main()

[4, 3, 2, 1]
[1, 2, 3, 4]

####***Section List View vs Copy***

#####***Exercise***

Remove items of the list a which are also members of another list b. Below is a code with bugs. Fix the bugs. Use the list copy.
```
a = [1,2,3,4]
b = [1,2,5,6]

for item in a:
    if item in b:
        a.remove(item)

print(a) # we expect [3,4] but we have [2, 3, 4]
```

######***Solution***

In [ ]:
def main():
    a = [1,2,3,4]
    b = [1,2,5,6]

    for item in a.copy(): # use copy of a
        if item in b:
            a.remove(item)

    print(a) 

if __name__ == "__main__":
    main()

[4, 3, 2, 1]
[1, 2, 3, 4]

###***Chapter 15 Tuple***

#####***071***

071
my_variable 이름의 비어있는 튜플을 만들라.

######***Solution***

In [ ]:
def main():
    my_variable = ()
    print(my_variable, type(my_variable))

if __name__ == "__main__":
    main()

#####***073***

073
숫자 1 이 저장된 튜플을 생성하라.

######***Solution***

In [ ]:
def main():
    my_tuple = (1, )
    print(my_tuple, type(my_tuple))

if __name__ == "__main__":
    main()

#####***075***

075
아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

```
t = 1, 2, 3, 4
```

######***Solution***

In [ ]:
def main():
    t = 1, 2, 3, 4
    print(t, type(t))

if __name__ == "__main__":
    main()

(1, 2, 3, 4) <class 'tuple'>

###***Chapter 17 Dictionary***

#####***Exercise***

사람들의 이름이 리스트로 주어졌을 때, 각각의 이름이 얼마나 있는지 카운트하시요.
```
names = ['John', 'Tom', 'Bob', 'Chuck', 'Bob', 'John','John']
```

######***Solution***

In [ ]:
def main():
    names = ['John', 'Tom', 'Bob', 'Chuck', 'Bob', 'John','John']
    name_count = {}
    for name in names:
        name_count[name] = name_count.get(name, 0) + 1         
    print(name_count) 

if __name__ == "__main__":
    main()

#####***084***

084 비어있는 딕셔너리
temp 이름의 비어있는 딕셔너리를 만들라.

######***Solution***

In [ ]:
def main():
    temp = { }

if __name__ == "__main__":
    main()

#####***085***

다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.
```
이름	희망 가격
메로나	1000
폴라포	1200
빵빠레	1800
```

######***Solution***

In [ ]:
def main():
    ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
    print(ice)

if __name__ == "__main__":
    main()

#####***086***

086
085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.
```
이름	희망 가격
죠스바	1200
월드콘	1500
```

######***Solution***

In [ ]:
def main():
    ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
    ice["죠스바"] = 1200
    ice["월드콘"] = 1500
    print(ice)

if __name__ == "__main__":
    main()

#####***087***

087
다음 딕셔너리를 사용하여 메로나 가격을 출력하라.
```
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```
 ```
실행 예:
메로나 가격: 1000
```

######***Solution***

In [ ]:
def main():
    ice = {
        '메로나': 1000,
        '폴로포': 1200,
        '빵빠레': 1800,
        '죠스바': 1200,
        '월드콘': 1500
        }
    print("메로나 가격: ", ice["메로나"])

if __name__ == "__main__":
    main()

메로나 가격:  1000

#####***088***

088
다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.
```
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```

######***Solution***

In [ ]:
def main():
    ice = {
        '메로나': 1000,
        '폴로포': 1200,
        '빵빠레': 1800,
        '죠스바': 1200,
        '월드콘': 1500
        }
    ice["메로나"] = 1300
    print("메로나 가격: ", ice["메로나"])

if __name__ == "__main__":
    main()

####***Section del***

#####***089***

089
다음 딕셔너리에서 메로나를 삭제하라.
```
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```

######***Solution***

In [ ]:
def main():
    ice = {'메로나': 1000,
        '폴로포': 1200,
        '빵빠레': 1800,
        '죠스바': 1200,
        '월드콘': 1500}
    del ice['메로나']
    print(ice)

if __name__ == "__main__":
    main()

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

####***Section Dictionary Method - keys, values, items***

#####***095***

095 딕셔너리 keys() 메서드
다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.
```
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
```

######***Solution***

In [ ]:
def main():
    icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
    ice = list(icecream.keys())
    print(ice)

if __name__ == "__main__":
    main()

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

#####***096***

096 딕셔너리 values() 메서드
다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.
```
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
```

######***Solution***

In [ ]:
def main():
    icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
    price = list(icecream.values())
    print(price)

if __name__ == "__main__":
    main()

####***Section Dictionary Method - update***

#####***098***

098 딕셔너리 update 메서드
아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.
```
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
```

######***Solution***

In [ ]:
def main():
    icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
    new_product = {'팥빙수':2700, '아맛나':1000}
    icecream.update(new_product)
    print(icecream)

if __name__ == "__main__":
    main()

####***Section Built-in Function - dict***

#####***099***

099 zip과 dict
아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.
```
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
```

######***Solution***

In [ ]:
def main():
    keys = ("apple", "pear", "peach")
    vals = (300, 250, 400)
    result = dict(zip(keys, vals))
    print(result)

if __name__ == "__main__":
    main()

####***Section Word Frequency***

#####***Exercise***

```
"""
Complete this function such that it returns True if and only if
the two strings passed to the function are anagrams of each other,
that is if they contain the same letters the same number of times.
Return False otherwise.
"""
def is_anagram(string_a, string_b):
    # Delete pass, and put your code here.
    pass


# Very Simple Tests
assert is_anagram('abba', 'aabb') == True
assert is_anagram('aab', 'bba') == False
assert is_anagram('the detectives', 'detect thieves') == True
assert is_anagram('abcde', 'abcdf') == False
## ADD AT LEAST 3 MORE TESTS ##
```

[Sorce](https://github.com/Tebs-Lab/intro-to-programming/blob/master/exercises/writing-exercises/02-is-anagram.py)

######***Solution***

In [ ]:
def character_frequency(word):
    frequency = {}
    for character in word:
        frequency[character] = frequency.get(character, 0) + 1
    return frequency

def is_anagram(string_a, string_b):
    return character_frequency(string_a) == character_frequency(string_b) 

def main():
    assert is_anagram('abba', 'aabb') == True
    assert is_anagram('aab', 'bba') == False
    assert is_anagram('the detectives', 'detect thieves') == True
    assert is_anagram('abcde', 'abcdf') == False
    assert is_anagram('aaabbb', 'bbbaaa') == True
    assert is_anagram('aaabbb', 'aaaccc') == False
    assert is_anagram('hat', 'cat') == False

if __name__ == "__main__":
    main()

#####***Problem 34***

Problem 34: Improve the above program to print the words in the descending order of the number of occurrences.

######***Solution***

In [ ]:
def word_frequency(words):
    """Returns frequency of each word given a list of words.

        >>> word_frequency(['a', 'b', 'a'])
        {'a': 2, 'b': 1}
    """
    frequency = {}
    for w in words:
        frequency[w] = frequency.get(w, 0) + 1
    return frequency

def read_words(filename):
    return open(filename).read().split()

def main():
    filename = "she.txt"
    frequency = word_frequency(read_words(filename))
    frequency_list = [(value, key) for key, value in frequency.items()]
    frequency_list.sort(reverse=True)
    
    for count, word in frequency_list:
        print(count, word)

if __name__ == "__main__":
    main()

3 the
3 sells
3 seashells
2 that
2 shells
2 she
2 seashore
2 on
2 are
2 I'm
1 sure.
1 sure
1 shells.
1 seashore;
1 if
1 The
1 So
1 She

#####***Problem 35***

Problem 35: Write a program to count frequency of characters in a given file. Can you use character frequency to tell whether the given file is a Python program file, C program file or a text file?

######***Solution***

In [ ]:
%%writefile grep.py
import sys
file_path, string = sys.argv[1:3]
with open(file_path) as f:
    lines = f.readlines()
    for line in lines:
        if string in line:
            print(line, end="")

Writing grep.py

In [ ]:
# ChatGPT code not working
import string

def count_chars(file_path):
    # define the character sets for each type of file
    python_chars = set(string.ascii_lowercase + string.digits + '_')
    c_chars = set(string.ascii_lowercase + string.digits + '_{}()[];:,.<>/?\\|-+*=&%"\'')
    
    # initialize counters for each type of character
    text_count = 0
    python_count = 0
    c_count = 0
    
    # open the file and count the characters
    with open(file_path, 'r') as f:
        for line in f:
            for c in line:
                if c in string.whitespace:
                    # ignore whitespace characters
                    continue
                elif c in python_chars:
                    python_count += 1
                elif c in c_chars:
                    c_count += 1
                else:
                    text_count += 1
    
    # print the results
    print(f"Text characters: {text_count}")
    print(f"Python characters: {python_count}")
    print(f"C characters: {c_count}")
    
    # determine the file type based on the character counts
    if python_count > c_count and python_count > text_count:
        print("Python program file")
    elif c_count > python_count and c_count > text_count:
        print("C program file")
    else:
        print("Text file")

def main():
    count_chars('she.txt')
    count_chars('grep.py')

if __name__ == "__main__":
    main()

Text characters: 5
Python characters: 134
C characters: 5
Python program file
Text characters: 0
Python characters: 108
C characters: 21
Python program file

In [ ]:
def count_chars(file_path):
    # define the dictionary to count frequency of characters in a given file
    d = {}
    
    # open the file and count the characters
    with open(file_path, 'r') as f:
        for line in f:
            for c in line:
                d[c] = d.get(c, 0) + 1
    return d

def main():
    print(count_chars('she.txt'))
    print(count_chars('grep.py'))

if __name__ == "__main__":
    main()

{'S': 2, 'h': 18, 'e': 29, ' ': 27, 's': 31, 'l': 18, 'a': 10, 'o': 6, 'n': 2, 't': 7, 'r': 7, ';': 1, '\n': 4, 'T': 1, 'I': 2, "'": 2, 'm': 2, 'u': 2, '.': 2, 'i': 1, 'f': 1}
{'i': 16, 'm': 1, 'p': 5, 'o': 3, 'r': 7, 't': 7, ' ': 44, 's': 10, 'y': 2, '\n': 7, 'f': 6, 'l': 8, 'e': 11, '_': 2, 'a': 5, 'h': 3, ',': 2, 'n': 13, 'g': 3, '=': 3, '.': 2, 'v': 1, '[': 1, '1': 1, ':': 4, '3': 1, ']': 1, 'w': 1, '(': 3, ')': 3, 'd': 2, '"': 2}

#####***Problem 36***

Problem 36: Write a program to find anagrams in a given list of words. Two words are called anagrams if one word can be formed by rearranging letters of another. For example 'eat', 'ate' and 'tea' are anagrams.
```
>>> anagrams(['eat', 'ate', 'done', 'tea', 'soup', 'node'])
[['eat', 'ate', 'tea], ['done', 'node'], ['soup']]
```

######***Solution***

In [ ]:
def count_chars(string):
    # define the dictionary to count frequency of characters in a given file
    d = {}
    
    # count the characters
    for c in string:
        d[c] = d.get(c, 0) + 1

    # make a string representing a dictionary d
    out = ""
    for key, value in d.items():
        out = out + key + str(value)
    return out

def anagrams(lst):
    # define the dictionary to count frequency of characters in a given file
    d = {}

    for string in lst:
        key = count_chars(string) 
        if key not in d.keys():
            d[key] = [string]
        else:
            d[key].append(string)

    out = []
    for lst in d.values():
        out.append(lst)
    return out

def main():
    print(anagrams(['eat', 'ate', 'done', 'tea', 'soup', 'node']))

if __name__ == "__main__":
    main()

[['eat'], ['ate'], ['done'], ['tea'], ['soup'], ['node']]

#####***Problem 37***

Problem 37: Write a function valuesort to sort values of a dictionary based on the key.
```
>>> valuesort({'x': 1, 'y': 2, 'a': 3})
[3, 1, 2]
```

######***Solution***

In [ ]:
def valuesort(d):
    sorted_keys = list(d.keys())
    sorted_keys.sort()

    out = []
    for key in sorted_keys:
        out.append(d[key])
    return out
    
def main():
    print(valuesort({'x': 1, 'y': 2, 'a': 3}))

if __name__ == "__main__":
    main()

[3, 1, 2]

#####***Problem 38***

Problem 38: Write a function invertdict to interchange keys and values in a dictionary. For simplicity, assume that all values are unique.
```
invertdict({'x': 1, 'y': 2, 'z': 3})
{1: 'x', 2: 'y', 3: 'z'}
```

######***Solution***

In [ ]:
def invertdict(d):
    out = { value : key for key, value in d.items()}
    return out
    
def main():
    print(invertdict({'x': 1, 'y': 2, 'z': 3}))

if __name__ == "__main__":
    main()

{1: 'x', 2: 'y', 3: 'z'}

###***Chapter 19 Set***

#####***Exercise [kor](https://www.youtube.com/watch?v=cxhbgAbAiXI)***

Refactor the below code checking the existance of two different numbers in the list whose sum is target
```
def twoSum(nums, target):
    for i in range(len(nums)):
        for j in range(len(nums)):
            if i == j:
                continue
            if nums[i] + nums[j] == target:
                return True
    return False

def main():
    nums = [1,2,15,6]
    target = 7
    print(twoSum(nums, target))

    nums = [1,2,15,6]
    target = 12
    print(twoSum(nums, target))

if __name__ == "__main__":
    main()
```

######***Solution***

In [ ]:
# O(n^2)
def twoSum(nums, target):
    for i in range(len(nums)):
        for j in range(i+1,len(nums)):
            if nums[i] + nums[j] == target:
                return True
    return False

def main():
    nums = [1,2,15,6]
    target = 7
    print(twoSum(nums, target))

    nums = [1,2,15,6]
    target = 12
    print(twoSum(nums, target))

if __name__ == "__main__":
    main()

True
False

In [ ]:
# O(n^2)
def twoSum(nums, target):
    for i in range(len(nums)):
        for j in range(i+1,len(nums)):
            temp_target = target - nums[i]  
            if nums[j] == temp_target:
                return True
    return False

def main():
    nums = [1,2,15,6]
    target = 7
    print(twoSum(nums, target))

    nums = [1,2,15,6]
    target = 12
    print(twoSum(nums, target))

if __name__ == "__main__":
    main()

True
False

In [ ]:
# O(n^2)
def twoSum(nums, target):
    for i, num in enumerate(nums):
        temp_target = target - num 
        if temp_target in nums[i+1:]:
            return True
    return False

def main():
    nums = [1,2,15,6]
    target = 7
    print(twoSum(nums, target))

    nums = [1,2,15,6]
    target = 12
    print(twoSum(nums, target))

if __name__ == "__main__":
    main()

True
False

In [ ]:
# O(n)
def twoSum(nums, target):
    numbers = set()
    for i in range(len(nums)):
        temp_target = target - nums[i]
        if temp_target in numbers:
            return True
        else:
            numbers.add(nums[i])
    return False

def main():
    nums = [1,2,15,6]
    target = 7
    print(twoSum(nums, target))

    nums = [1,2,15,6]
    target = 12
    print(twoSum(nums, target))

if __name__ == "__main__":
    main()

True
False

#####***Problem 15***

Problem 15: Reimplement the unique function implemented in the earlier examples using sets.

######***Solution***

In [ ]:
def unique(lst):
    return list(set(lst))

def main():
    print(unique([1, 2, 1, 3, 2, 5])) 

if __name__ == "__main__":
    main()

[1, 2, 3, 5]

#####***Problem 16***

Problem 16: Write a function extsort to sort a list of files based on extension.
```
>>> extsort(['a.c', 'a.py', 'b.py', 'bar.txt', 'foo.txt', 'x.c'])
['a.c', 'x.c', 'a.py', 'b.py', 'bar.txt', 'foo.txt']
```

######***Solution***

In [ ]:
def extsort(lst):
    # d - dictionary
    # d.keys() - extensions
    # d.values() - set of files with given extension 
    d = dict()
    for i in lst:
        _, key = i.split(".")
        if key not in d.keys():
            d[key] = {i}
        else:
            d[key].add(i)

    out = []
    for key in d.keys():
        out += list(d[key])
    return out
    
def main():
    print(extsort(['a.c', 'a.py', 'b.py', 'bar.txt', 'foo.txt', 'x.c']))

if __name__ == "__main__":
    main()

['a.c', 'x.c', 'a.py', 'b.py', 'bar.txt', 'foo.txt']

####***Section Membership Test***

#####***Exercise***

Guess the output of the following:
```
print(True in {0})
print(True in {1})
```

######***Solution***

In [ ]:
def main():
    print(True in {0})
    print(True in {1})

if __name__ == "__main__":
    main()

False
True

###***Chapter 19 Packing and Unpacking***

####***Section Packing***

####***Section Unpacking***

####***Section Star Expression***

#####***081***

081 별 표현식
기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.
```
>>> a, b, *c = (0, 1, 2, 3, 4, 5)
>>> a
0
>>> b
1
>>> c
[2, 3, 4, 5]
```
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.
```
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
```

######***Solution***

In [ ]:
def main():
    scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
    *valid_score, _, _= scores
    print(valid_score, type(valid_score))

if __name__ == "__main__":
    main()

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5] <class 'list'>

#####***082***

082
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.
```
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
```

######***Solution***

In [ ]:
def main():
    scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
    _, _, *valid_score= scores
    print(valid_score, type(valid_score))

if __name__ == "__main__":
    main()

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4] <class 'list'>

#####***083***

083
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.
```
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
```

######***Solution***

In [ ]:
def main():
    scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
    _, *valid_score, _ = scores
    print(valid_score, type(valid_score))

if __name__ == "__main__":
    main()

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5] <class 'list'>

###***Chapter 24 Loop***

####***Section Loop using Range***

#####***Exercise***

Compute the summation from 1 to 10 using range

######***Solution***

In [ ]:
def main():
    sum = 0
    for i in range(1,11):
        sum += i
    print(sum)

if __name__ == "__main__":
    main()

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3, 4], [5, 6, 7, 8], [9]]

#####***Exercise***

Make the below pyramid of zeros:

<img src="https://github.com/SungchulLee/img/blob/main/Pyramid_of_Zeros.png?raw=true">

######***Solution***

In [ ]:
def print_zeros(n_blanks_before_zeros):
    n_blanks_after_zeros = n_blanks_before_zeros
    n_zeros = 13 - n_blanks_before_zeros - n_blanks_after_zeros
    msg = ' ' * n_blanks_before_zeros + '0' * n_zeros
    print(msg)
    
    
def main():
    for n_blanks_before_zeros in range(6,-1,-1):
        print_zeros(n_blanks_before_zeros)
        
        
if __name__ == "__main__":
    main()

      0
     000
    00000
   0000000
  000000000
 00000000000
0000000000000

#####***Problem 12***

Problem 12: Write a function group(list, size) that take a list and splits into smaller lists of given size.
```
>>> group([1, 2, 3, 4, 5, 6, 7, 8, 9], 3)
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
>>> group([1, 2, 3, 4, 5, 6, 7, 8, 9], 4)
[[1, 2, 3, 4], [5, 6, 7, 8], [9]]
```

######***Solution***

In [ ]:
def group(lst, group_size):
    tmp = []
    for i in range(0,len(lst),group_size):
        tmp.append(lst[i:i+group_size])
    return tmp

def main():
    print(group([1, 2, 3, 4, 5, 6, 7, 8, 9], 3)) 
    print(group([1, 2, 3, 4, 5, 6, 7, 8, 9], 4)) 

if __name__ == "__main__":
    main()

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3, 4], [5, 6, 7, 8], [9]]

####***Section Loop over List***

#####***Problem 2***

Problem 2: Python has a built-in function sum to find sum of all elements of a list. Provide an implementation for sum.
```
>>> sum([1, 2, 3])
6
```

######***Solution***

In [ ]:
def main():
    def sum(lst):
        tmp = 0
        for i in lst:
            tmp += i
        return tmp

    print(sum([1, 2, 3]))

if __name__ == "__main__":
    main()

6

#####***Problem 3***

Problem 3: What happens when the above sum function is called with a list of strings? Can you make your sum function work for a list of strings as well.
```
>>> sum(["hello", "world"])
"helloworld"
>>> sum(["aa", "bb", "cc"])
"aabbcc"
```

######***Solution***

In [ ]:
def main():
    def sum(lst):
        if isinstance(lst[0], int):
            tmp = 0
        elif isinstance(lst[0], float):
            tmp = 0.0
        else:
            tmp = ""
        for i in lst:
            tmp += i
        return tmp

    print(sum([1, 2, 3]))
    print(sum(["hello", "world"]))
    print(sum(["aa", "bb", "cc"]))

if __name__ == "__main__":
    main()

6
helloworld
aabbcc

#####***Problem 4***

Problem 4: Implement a function product, to compute product of a list of numbers.
```
>>> product([1, 2, 3])
6
```

######***Solution***

In [ ]:
def main():
    def product(lst):
        tmp = 1
        for i in lst:
            tmp *= i
        return tmp

    print(product([1, 2, 3]))

if __name__ == "__main__":
    main()

6

#####***Problem 5***

Problem 5: Write a function factorial to compute factorial of a number. Can you use the product function defined in the previous example to compute factorial?
```
>>> factorial(4)
24
```

######***Solution***

In [ ]:
def main():
    def product(lst):
        tmp = 1
        for i in lst:
            tmp *= i
        return tmp

    def factorial(n):
        lst = list(range(1,n+1))
        return product(lst)

    print(factorial(4))

if __name__ == "__main__":
    main()

24

#####***Problem 7***

Problem 7: Python has built-in functions min and max to compute minimum and maximum of a given list. Provide an implementation for these functions. What happens when you call your min and max functions with a list of strings?

######***Solution***

In [ ]:
def main():
    def min(lst):
        m = lst[0]
        for i in lst[1:]:
            if i < m:
                m = i
        return m

    def max(lst):
        M = lst[0]
        for i in lst[1:]:
            if i > M:
                M = i
        return M

    print(min([5, 1, 7, -3, 4]))
    print(max([5, 1, 7, -3, 4]))
    print(min(["rmsprop","adam","nadam"]))
    print(max(["rmsprop","adam","nadam"]))

if __name__ == "__main__":
    main()

-3
7
adam
rmsprop

#####***Problem 8***

Problem 8: Cumulative sum of a list [a, b, c, ...] is defined as [a, a+b, a+b+c, ...]. Write a function cumulative_sum to compute cumulative sum of a list. Does your implementation work for a list of strings?
```
>>> cumulative_sum([1, 2, 3, 4])
[1, 3, 6, 10]
>>> cumulative_sum([4, 3, 2, 1])
[4, 7, 9, 10]
```

######***Solution***

In [ ]:
def cumulative_sum(lst):
    if len(lst) == 0:
        return lst
    tmp = [lst[0]]
    for num in lst[1:]:
        tmp.append(tmp[-1] + num)
    return tmp

def main():
    print(cumulative_sum([1, 2, 3, 4]))
    print(cumulative_sum([4, 3, 2, 1])) 

if __name__ == "__main__":
    main()

[1, 3, 6, 10]
[4, 7, 9, 10]

#####***Problem 9***

Problem 9: Write a function cumulative_product to compute cumulative product of a list of numbers.
```
>>> cumulative_product([1, 2, 3, 4])
[1, 2, 6, 24]
>>> cumulative_product([4, 3, 2, 1])
[4, 12, 24, 24]
```

######***Solution***

In [ ]:
def cumulative_product(lst):
    if len(lst) == 0:
        return lst
    tmp = [lst[0]]
    for num in lst[1:]:
        tmp.append(tmp[-1] * num)
    return tmp

def main():
    print(cumulative_product([1, 2, 3, 4]))
    print(cumulative_product([4, 3, 2, 1])) 

if __name__ == "__main__":
    main()

[1, 2, 6, 24]
[4, 12, 24, 24]

#####***Problem 10***

Problem 10: Write a function unique to find all the unique elements of a list.
```
>>> unique([1, 2, 1, 3, 2, 5])
[1, 2, 3, 5]
```

######***Solution***

In [ ]:
def unique(lst):
    out = []
    for i in lst:
        if i not in out:
            out.append(i)
    return out

def main():
    print(unique([1, 2, 1, 3, 2, 5])) 

if __name__ == "__main__":
    main()

[1, 2, 3, 5]

#####***Problem 11***

Problem 11: Write a function dups to find all duplicates in the list.
```
>>> dups([1, 2, 1, 3, 2, 5])
[1, 2]
```

######***Solution***

In [ ]:
def dups(lst):
    first_time_list = []
    second_and_more_list = []
    for i in lst:
        if i not in first_time_list:
            first_time_list.append(i)
        elif i not in second_and_more_list:
            second_and_more_list.append(i) 
    return second_and_more_list

def main():
    print(dups([1, 2, 1, 3, 2, 5])) 

if __name__ == "__main__":
    main()

[1, 2]

#####***Problem 14***

Problem 14: Improve the unique function written in previous problems to take an optional key function as argument and use the return value of the key function to check for uniqueness.
```
>>> unique(["python", "java", "Python", "Java"], key=lambda s: s.lower())
["python", "java"]
```

######***Solution***

In [ ]:
def unique_previous(lst):
    out = []
    for i in lst:
        if i not in out:
            out.append(i)
    return out
    
def unique(lst, key=lambda s: s):
    return unique_previous([key(i) for i in lst])

def main():
    print(unique(["python", "java", "Python", "Java"], key=lambda s: s.lower())) 

if __name__ == "__main__":
    main()

['python', 'java']

In [ ]:
def unique(lst, key=lambda s: s):
    return list(set([key(i) for i in lst]))

def main():
    print(unique(["python", "java", "Python", "Java"], key=lambda s: s.lower())) 

if __name__ == "__main__":
    main()

['python', 'java']

####***Section 3 Break and Continue***

#####***Exercise***

What is the output of the below code?
```
def main():
    for i in range(10):
        print(i)
        if i == 4:
            break
        if i == 2:
            continue
        print("Hi") # ignored

if __name__ == "__main__":
    main()
```

######***Solution***

In [ ]:
def main():
    for i in range(10):
        print(i)
        if i == 4:
            break
        if i == 2:
            continue
        print("Hi") # ignored

if __name__ == "__main__":
    main()

[1, 2]

###***Chapter 25 Conditional Statements***

#####***Problem 9***

Problem 9: What will be output of the following program?
```
print(2 < 3 and 3 > 1)
print(2 < 3 or 3 > 1)
print(2 < 3 or not 3 > 1)
print(2 < 3 and not 3 > 1)
```

######***Solution***

In [ ]:
def main():
    print(2 < 3 and 3 > 1) # True and True ---> True
    print(2 < 3 or 3 > 1) # True or ... ---> True
    print(2 < 3 or not 3 > 1) # True or ... ---> True
    print(2 < 3 and not 3 > 1) # True and not True ---> False

if __name__ == "__main__":
    main()

True
True
True
False

#####***Problem 11***

Problem 11: What happens when the following code is executed? Will it give any error? Explain the reasons.
```
x = 2
if x == 2:
    print(x)
else:
    print(y)
```

######***Solution***

In [ ]:
def main():
    x = 2
    if x == 2:
        print(x)
    else:
        # even if y is not in the name space
        # it does not throw NameError
        print(y)

if __name__ == "__main__":
    main()

2

#####***Problem 12***

Problem 12: What happens the following code is executed? Will it give any error? Explain the reasons.
```
x = 2
if x == 2:
    print(x)
else:
    x +
```

######***Solution***

In [ ]:
def main():
    x = 2
    if x == 2:
        print(x)
    else:
        x + # <--- SyntaxError: invalid syntax

if __name__ == "__main__":
    main()

SyntaxError: ignored

###***Chapter Function***

#####***Exercise***

Guess the output of the following:
```
def del_0th(lst):
    if lst:
        del lst[0]
    return lst

lst = [0,1,2,3,4,5]
lst1 = del_0th(lst)
print(lst)
print(lst1)
```

######***Solution***

In [ ]:
def del_0th(lst):
    if lst:
        del lst[0]
    return lst

def main():
    lst = [0,1,2,3,4,5]
    lst1 = del_0th(lst)
    print(lst, id(lst))
    print(lst1, id(lst1))

if __name__ == "__main__":
    main()

[1, 2, 3, 4, 5] 140105226360832
[1, 2, 3, 4, 5] 140105226360832

#####***Problem 2***

Problem 2: How many multiplications are performed when each of the following lines of code is executed?
```
def square(x):
    return x * x

print(square(5))
print(square(2*5))
```

######***Solution***

In [ ]:
def square(x):
    return x * x

def main():
    print(square(5)) # 1
    print(square(2*5)) # 2

if __name__ == "__main__":
    main()

#####***Problem 3***

Problem 3: What will be the output of the following program?
```
x = 1
def f():
    return x
print(x)
print(f())
```

######***Solution***

In [ ]:
def main():
    x = 1
    
    def f():
        return x

    print(x) # 1
    print(f()) # 1

if __name__ == "__main__":
    main()

1
1

#####***Problem 4***

Problem 4: What will be the output of the following program?
```
x = 1
def f():
    x = 2
    return x
print(x)
print(f())
print(x)
```

######***Solution***

In [ ]:
def main():
    x = 1

    def f():
        x = 2
        return x
        
    print(x) # 1
    print(f()) # 2
    print(x) # 1

if __name__ == "__main__":
    main()

1
2
1

#####***Problem 5***

Problem 5: What will be the output of the following program?
```
x = 1
def f():
        y = x
        x = 2
        return x + y
print(x)
print(f())
print(x)
```

######***Solution***

In [ ]:
def main():
    x = 1

    def f():
        y = x # <--- UnboundLocalError
        x = 2 # x is a local variable
        return x + y
        
    print(x) # 1
    print(f()) # UnboundLocalError: local variable 'x' referenced before assignment
    print(x)

if __name__ == "__main__":
    main()

1

UnboundLocalError: ignored

#####***Problem 6***

Problem 6: What will be the output of the following program?
```
x = 2
def f(a):
    x = a * a
    return x
y = f(3)
print(x, y)
```

######***Solution***

In [ ]:
def main():
    x = 2

    def f(a):
        x = a * a
        return x
        
    y = f(3) # y = 9
    print(x, y) # 2 9

if __name__ == "__main__":
    main()

2 9

#####***Problem 7***

Problem 7: Write a function count_digits to find number of digits in the given number.
```
>>> count_digits(5)
1
>>> count_digits(12345)
5
```

######***Solution***

In [ ]:
def count_digits(n):
    return len(str(n))

def main():
    print(count_digits(5))
    print(count_digits(12345))

if __name__ == "__main__":
    main()

1
5

#####***Problem 8***

Problem 8: Write a function istrcmp to compare two strings, ignoring the case.
```
>>> istrcmp('python', 'Python')
True
>>> istrcmp('LaTeX', 'Latex')
True
>>> istrcmp('a', 'b')
False
```

######***Solution***

In [ ]:
def istrcmp(a, b):
    a = a.lower()
    b = b.lower()
    return a == b

def main():
    print(istrcmp('python', 'Python'))
    print(istrcmp('LaTeX', 'Latex'))
    print(istrcmp('a', 'b'))

if __name__ == "__main__":
    main()

True
True
False

#####***205***

205
아래의 에러가 발생하는 이유에 대해 설명하라.
```
hello()
def hello():
    print("Hi")
```

######***Solution***

In [ ]:
hello() # NameError: name 'hello' is not defined
    
def hello():
    print("Hi")

Hi

In [ ]:
def main():
    hello() # UnboundLocalError: local variable 'hello' referenced before assignment
    
    def hello():
        print("Hi")

if __name__ == "__main__":
    main()

UnboundLocalError: ignored

#####***227***

227
문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.
```
print_mxn("아이엠어보이유알어걸", 3)
```
```
아이엠
어보이
유알어
걸
```

######***Solution***

In [ ]:
def print_mxn(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])

def main():
    print_mxn("아이엠어보이유알어걸", 3)

if __name__ == "__main__":
    main()

아이엠
어보이
유알어
걸

#####***235***

235
콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.
```
convert_int("1,234,567")
1234567
```

######***Solution***

In [ ]:
def convert_int (string) :
    return int(string.replace(',', ''))

def main():
    print(convert_int("1,234,567"))

if __name__ == "__main__":
    main()

1234567

###***Chapter 26 Iterator and Generator***

#####***Exercise***

Guess the output of the following:
```
lst = [0,1,2,3,4,5]
target = 3
for i in lst:
    if i == target:
        del lst[i]
    print(i)
```

######***Solution***

In [ ]:
def main():
    lst = [0,1,2,3,4,5]
    target = 3
    for i in lst:
        if i == target:
            del lst[i]
        print(i)

if __name__ == "__main__":
    main()

0
1
2
3
5
[0, 1, 2, 4, 5]

#####***Problem 1***

Problem 1: Write an iterator class reverse_iter, that takes a list and iterates it from the reverse direction. ::
```
>>> it = reverse_iter([1, 2, 3, 4])
>>> next(it)
4
>>> next(it)
3
>>> next(it)
2
>>> next(it)
1
>>> next(it)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
StopIteration
```

######***Solution***

In [ ]:
def reverse_iter(lst):
    for i in lst[::-1]:
        yield i

class Reverse_Iter:    
    def __init__(self, lst):
        self.i = 0
        self.lst = lst
    def __iter__(self):
        return self
    def __next__(self):
        if self.i < len(self.lst):
            tmp = self.lst[-(self.i+1)]
            self.i += 1
            return tmp
        else:
            raise StopIteration("STOP")

def main():
    try:
        it = reverse_iter([1, 2, 3, 4])
        print(next(it))
        print(next(it))
        print(next(it))
        print(next(it))
        print(next(it))
    except StopIteration as e:
        print(e) 

    try:
        it = Reverse_Iter([1, 2, 3, 4])
        print(next(it))
        print(next(it))
        print(next(it))
        print(next(it))
        print(next(it))
    except StopIteration as e:
        print(e) 

if __name__ == "__main__":
    main()

4
3
2
1

4
3
2
1
STOP

#####***Problem 2***

Problem 2: Write a program that takes one or more filenames as arguments and prints all the lines which are longer than 40 characters.

######***Solution***

In [ ]:
%%writefile reverse_0.py
import sys
file_path = sys.argv[1]
with open(file_path) as f:
    lines = f.readlines()
    for line in lines[::-1]:
        print(line, end="")

Overwriting reverse_0.py

In [ ]:
%%writefile reverse_1.py
import sys
file_path = sys.argv[1]
with open(file_path) as f:
    lines = f.readlines()
    for line in lines[::-1]:
        print(line, end="")

Overwriting reverse_1.py

In [ ]:
%%writefile reverse_2.py
import sys
file_path = sys.argv[1]
with open(file_path) as f:
    lines = f.readlines()
    for line in lines[::-1]:
        print(line, end="")

Writing reverse_2.py

In [ ]:
def print_long_lines(*filepaths, length=40):
    for filepath in filepaths:
        with open(filepath) as f:
            for line in f.readlines():
                if len(line) > length:
                    print(line)
                                        
def main():
    print_long_lines('./reverse_0.py', './reverse_1.py', './reverse_2.py', length=10)    


if __name__ == "__main__":
    main()

import sys

file_path = sys.argv[1]

with open(file_path) as f:

    lines = f.readlines()

    for line in lines[::-1]:

        print(line, end="")

import sys

file_path = sys.argv[1]

with open(file_path) as f:

    lines = f.readlines()

    for line in lines[::-1]:

        print(line, end="")

import sys

file_path = sys.argv[1]

with open(file_path) as f:

    lines = f.readlines()

    for line in lines[::-1]:

        print(line, end="")

#####***Problem 3***

Problem 3: Write a function findfiles that recursively descends the directory tree for the specified directory and generates paths of all the files in the tree.

######***Solution***

In [ ]:
def findfiles(dir_path):
    
    out = []
        
    import os
    files_or_dirs = os.listdir(dir_path)
    
    files = []
    dirs = []
    for file_or_dir in files_or_dirs:
        if len(file_or_dir.split('.')) == 1: # directory name
            dirs.append(file_or_dir)
        else:
            files.append(file_or_dir)
            
    for file in files:
        out.append(os.path.join(dir_path, file))
            
    for directory in dirs:
        out.extend(findfiles(os.path.join(dir_path, directory)))
        
    return out

def main():
    print(findfiles('./')) 

if __name__ == "__main__":
    main()

['./.config', './reverse-2.py', './reverse_2.py', './reverse_1.py', './reverse_0.py', './sample_data/anscombe.json', './sample_data/README.md', './sample_data/mnist_train_small.csv', './sample_data/california_housing_train.csv', './sample_data/california_housing_test.csv', './sample_data/mnist_test.csv']

#####***Problem 4***

Problem 4: Write a function to compute the number of python files (.py extension) in a specified directory recursively.

######***Solution***

In [ ]:
%%writefile reverse_0.py
import sys
file_path = sys.argv[1]
with open(file_path) as f:
    lines = f.readlines()
    for line in lines[::-1]:
        print(line, end="")

Writing reverse_0.py

In [ ]:
%%writefile reverse_1.py
import sys
file_path = sys.argv[1]
with open(file_path) as f:
    lines = f.readlines()
    for line in lines[::-1]:
        print(line, end="")

Writing reverse_1.py

In [ ]:
%%writefile reverse-2.py
import sys
file_path = sys.argv[1]
with open(file_path) as f:
    lines = f.readlines()
    for line in lines[::-1]:
        print(line, end="")

Writing reverse-2.py

In [ ]:
def count_py(dir_path):  
    out = 0
        
    import os
    files_or_dirs = os.listdir(dir_path)
    
    files = []
    dirs = []
    for file_or_dir in files_or_dirs:
        if len(file_or_dir.split('.')) == 1: # directory name
            dirs.append(file_or_dir)
        else:
            files.append(file_or_dir)
            
    for file in files:
        if file.split('.')[-1] == 'py': # python file
            out += 1
            
    for directory in dirs:
        out += count_py(os.path.join(dir_path, directory))
    
    return out

def main():
    print(count_py('./'))

if __name__ == "__main__":
    main()

3

#####***Problem 5***

Problem 5: Write a function to compute the total number of lines of code in all python files in the specified directory recursively.

######***Solution***

In [ ]:
def count_py_lines(dir_path):
    
    out = 0
        
    import os
    files_or_dirs = os.listdir(dir_path)
    
    files = []
    dirs = []
    for file_or_dir in files_or_dirs:
        if len(file_or_dir.split('.')) == 1: # directory name
            dirs.append(file_or_dir)
        else:
            files.append(file_or_dir)
            
    for file in files:
        if file.split('.')[-1] == 'py': # python file
            with open(os.path.join(dir_path, file)) as f:
                out += len(f.readlines())
            
    for directory in dirs:
        out += count_py_lines(os.path.join(dir_path, directory))
    
    return out

def main():
    print(count_py_lines('./'))

if __name__ == "__main__":
    main()

18

#####***Problem 6***

Problem 6: Write a function to compute the total number of lines of code, ignoring empty and comment lines, in all python files in the specified directory recursively.

######***Solution***

In [ ]:
def count_py_essential_lines(dir_path):    
    out = 0
        
    import os
    files_or_dirs = os.listdir(dir_path)
    
    files = []
    dirs = []
    for file_or_dir in files_or_dirs:
        if len(file_or_dir.split('.')) == 1: # directory name
            dirs.append(file_or_dir)
        else:
            files.append(file_or_dir)
            
    for file in files:
        if file.split('.')[-1] == 'py': # python file
            with open(os.path.join(dir_path, file)) as f:
                lines = f.readlines()
                for line in lines:
                    if line.startswith('#'): # 주석줄 제거
                        continue
                    if line.startswith('\"'): # 주석줄 제거
                        continue
                    if line.startswith('\''): # 주석줄 제거
                        continue
                    if line.startswith('\n'): # 빈줄 제거
                        continue
                out += 1
            
    for directory in dirs:
        out += count_py_essential_lines(os.path.join(dir_path, directory))
    
    return out

def main():
    print(count_py_essential_lines('./'))

if __name__ == "__main__":
    main()

9

#####***Problem 7***

Problem 7: Write a program split.py, that takes an integer n and a filename as command line arguments and splits the file into multiple small files with each having n lines.

######***Solution***

In [ ]:
%%writefile split.py
import sys

n, filename = sys.argv[1:3]
name, ext = filename.split('.')
n = int(n)

with open(filename) as f:
    lines = f.readlines()
    for i in range(0, len(lines), n):
        new_filename = f'{name}_{i//n}.{ext}'
        with open(new_filename, 'w') as g:
            g.writelines(lines[i:i+n])

Overwriting split.py

In [ ]:
!python split.py 5 split.py

In [ ]:
!cat split_0.py

import sys

n, filename = sys.argv[1:3]
name, ext = filename.split('.')
n = int(n)

In [ ]:
!cat split_1.py

with open(filename) as f:
    lines = f.readlines()
    for i in range(0, len(lines), n):
        new_filename = f'{name}_{i//n}.{ext}'

In [ ]:
!cat split_2.py

        with open(new_filename, 'w') as g:
            g.writelines(lines[i:i+n])

#####***Problem 8***

Problem 8: Write a function peep, that takes an iterator as argument and returns the first element and an equivalant iterator.
```
>>> it = iter(range(5))
>>> x, it1 = peep(it)
>>> print(x, list(it1))
0 [0, 1, 2, 3, 4]
```

######***Solution***

In [ ]:
def peep(i):
    import copy 
    i_copy = copy.deepcopy(i)
    return next(i), i_copy

def main():
    it = iter(range(5))
    x, it1 = peep(it)
    print(x, list(it1))

if __name__ == "__main__":
    main()

0 [0, 1, 2, 3, 4]

#####***Problem 9***

Problem 9: The built-in function enumerate takes an iteratable and returns an iterator over pairs (index, value) for each value in the source.
```
>>> list(enumerate(["a", "b", "c"])
[(0, "a"), (1, "b"), (2, "c")]
>>> for i, c in enumerate(["a", "b", "c"]):
...    print(i, c)
0 a
1 b
2 c
```

Write a class MyEnumerate that works like enumerate.

######***Solution***

In [ ]:
class MyEnumerate:   
    def __init__(self, iterable):
        self.i = 0
        self.iterator = iterable.__iter__()
    def __iter__(self):
        return self
    def __next__(self):
        try:
            i = self.i
            self.i += 1
            return i, next(self.iterator)
        except:
            raise StopIteration()

def main():
    for i, c in MyEnumerate(["a", "b", "c"]):
        print(i, c)

if __name__ == "__main__":
    main()

0 a
1 b
2 c

#####***Problem 10***

Problem 10: Implement a class MyZip that works like zip.

######***Solution***

In [ ]:
class MyZip:   
    def __init__(self, iterable_1, iterable_2):
        self.iterator_1 = iterable_1.__iter__()
        self.iterator_2 = iterable_2.__iter__()
    def __iter__(self):
        return self
    def __next__(self):
        try:
            return next(self.iterator_1), next(self.iterator_2)
        except:
            raise StopIteration()

def main():
    for i, j in MyZip(["a", "b", "c"], [1, 2, 3]):
        print(i, j)

if __name__ == "__main__":
    main()

a 1
b 2
c 3

####***Section 4 Generator***

#####***Exercise [blog](https://stackoverflow.com/questions/2776829/difference-between-pythons-generators-and-iterators)***

Use the generator and replace the iterator in the below code: 

```
class Squares(object):
    def __init__(self, start, stop):
       self.start = start
       self.stop = stop

    def __iter__(self): 
        return self

    def __next__(self): # next in Python 2
       if self.start >= self.stop:
           raise StopIteration
       current = self.start * self.start
       self.start += 1
       return current

def main():
    iterator = Squares(1, 5)
    for i in iterator:
        print(i,end="\t")

if __name__ == "__main__":
    main()
```

######***Solution***

In [2]:
def squares(start, stop):
    for i in range(start, stop):
        yield i * i

def main():
    iterator = squares(1, 5)
    for i in iterator:
        print(i,end="\t")

if __name__ == "__main__":
    main()

1	4	9	16

#####***Exercise [blog](https://stackoverflow.com/questions/2776829/difference-between-pythons-generators-and-iterators)***

Use the generator comprehension and replace the iterator in the below code: 

```
class Squares(object):
    def __init__(self, start, stop):
       self.start = start
       self.stop = stop

    def __iter__(self): 
        return self

    def __next__(self): # next in Python 2
       if self.start >= self.stop:
           raise StopIteration
       current = self.start * self.start
       self.start += 1
       return current

def main():
    iterator = Squares(1, 5)
    for i in iterator:
        print(i,end="\t")

if __name__ == "__main__":
    main()
```

######***Solution***

In [3]:
def main():
    iterator = (i*i for i in range(1, 5))
    for i in iterator:
        print(i,end="\t")

if __name__ == "__main__":
    main()

1	4	9	16

###***Chapter 34 Class***

#####***Exercise***

체스판은 다음과 같이 생겼다.
```
array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])
```

체스판에 출발점(start)과 끝점(end)이 주어지면, 기사가 출발점에서 출발하여 끝점에 도달하는 필요한 최소의 이동 횟수를 계산하는  클래스를  구현하라.
```
>>> a = Knight(9, 11)
>>> a.knightmove_counter()
2
```

######***Solution***

In [ ]:
class Knight:
    
    def __init__(self, start, end):
        self.start = start # 출발점
        self.end = end     # 끝점

    def num2coord(self, num):
        """
        체스판에서 기사의 위치는 하나의 숫자로 표시할 수도 있지만 (Representation 1), 
        로인덱스와 칼럼인덱스를 이용 두개의 숫자로도 표시할 수 있다 (Representation 2). 
        이 메쏘드는 Representation 1을 Representation 2로 바꾸어 준다.
        
        Input  : int       : Representation 1 of Kinight Position  
        Output : (int,int) : Representation 1 of Kinight Position  
        """
        row = num // 8
        col = num % 8
        return row, col

    def coord2num(self, row, col):
        """
        체스판에서 기사의 위치는 하나의 숫자로 표시할 수도 있지만 (Representation 1), 
        로인덱스와 칼럼인덱스를 이용 두개의 숫자로도 표시할 수 있다 (Representation 2). 
        이 메쏘드는 Representation 2를 Representation 1로 바꾸어 준다.
        
        Input  : (int,int) : Representation 1 of Kinight Position
        Output : int       : Representation 1 of Kinight Position   
        """
        return 8 * row + col

    def knightmove(self, num):
        """
        체스판에서 현재 기사의 위치(Representation 1)가 인풋으로 들어오면,
        한 스텝 후 가능한 기사의 위치(Representation 1)를 셋으로 리턴한다. 
        
        Input  : int       : Representation 1 of Kinight Position
        Output : {int,...} : Representation 1 of Possible Kinight Next Position   
        """
        row, col = self.num2coord(num)
        return_set = set()
        for direction in [(1,2),(-1,2),(1,-2),(-1,-2),(2,1),(2,-1),(-2,1),(-2,-1)]:
            new_row = row + direction[0]
            new_col = col + direction[1]
            if (0<=new_row<=7) and (0<=new_col<=7):
                return_set.add(self.coord2num(new_row,new_col))
        return return_set
    
    def knightmove_counter(self):
        """ 
        기사가 출발점에서 끝점에 도달하는 필요한 최소의 이동 횟수를 리턴한다. 
        """
        counter = 0
        interior = set() # set of visited vertices from which knightmove has been computed
        frontier = set() # set of visited vertices from which knightmove are not computed
        frontier.add(self.start)
        if self.end in frontier:
            return counter
        while True:
            counter += 1
            for num in frontier.copy():
                newly_visited_set = self.knightmove(num)
                interior.add(num)
                for newly_visited_num in newly_visited_set:
                    if newly_visited_num not in interior:
                        frontier.add(newly_visited_num)
            if self.end in frontier:
                return counter

def main():
    a = Knight(9, 11)
    print(a.knightmove_counter()) 

if __name__ == "__main__":
    main()

2

#####***Problem 1***

Problem 1: What will the output of the following program.
```
class A:
    def f(self):
        return self.g()

    def g(self):
        return 'A'

class B(A):
    def g(self):
        return 'B'

a = A()
b = B()
print(a.f(), b.f())
print(a.g(), b.g())
```

######***Solution***

In [ ]:
class A:
    def f(self):
        return self.g()

    def g(self):
        return 'A'

class B(A):
    def g(self):
        return 'B'

def main():
    a = A()
    b = B()
    print(a.f(), b.f()) # A B
    print(a.g(), b.g()) # A B

if __name__ == "__main__":
    main()

A B
A B

#####***Exercise***

Below code generate random five cards from the deck of 52 cards. Write your code to     check whether we have flush.
```
import random
from collections import namedtuple

Card = namedtuple('Card', ['rank', 'suit'])

class FrenchDeck:
    
    ranks = [str(n) for n in range(2, 11)] + list('JQKA') # class variable
    suits = 'spades diamonds clubs hearts'.split() # class variable

    def __init__(self):
        self.cards = [Card(rank, suit) for suit in self.suits for rank in self.ranks]

    def __len__(self):
        return len(self.cards)

    def __getitem__(self, position):
        return self.cards[position]
    
    def hands(self):
        return random.sample(self.cards, 5)

def main():
    # random five cards
    x = deck.hands()
    print(f"random five cards : {x}",end="\n\n")

    # check whether we have flush
    # put your code here
    # put your code here
    # put your code here

if __name__ == "__main__":
    main()
```

######***Solution***

In [ ]:
import random
from collections import namedtuple

Card = namedtuple('Card', ['rank', 'suit'])

class FrenchDeck:
    
    ranks = [str(n) for n in range(2, 11)] + list('JQKA') # class variable
    suits = 'spades diamonds clubs hearts'.split() # class variable

    def __init__(self):
        self.cards = [Card(rank, suit) for suit in self.suits for rank in self.ranks]

    def __len__(self):
        return len(self.cards)

    def __getitem__(self, position):
        return self.cards[position]
    
    def hands(self):
        return random.sample(self.cards, 5)

def main():
    # random five cards
    x = deck.hands()
    print(f"random five cards : {x}",end="\n\n")

    # check whether we have flush
    flush = True
    for i in range(1,5):
        if x[i-1].suit != x[i].suit:
            flush = False
            break
    print(f"check whether we have flush : {flush}")

if __name__ == "__main__":
    main()

A B
A B

###***Chapter Exception Handling***

#####***Problem 2***

Problem 2: What will be the output of the following program?
```
try:
    print("a")
except:
    print("b")
else:
    print("c")
finally:
    print("d")
```

######***Solution***

In [ ]:
def main():
    try:
        print("a")
    except:
        print("b")
    else:
    # The try statement can have an optional else clause, 
    # which is executed only if no exception is raised in the try-block.
        print("c")
    finally:
        print("d")

if __name__ == "__main__":
    main()

a
c
d

#####***Problem 3***

Problem 3: What will be the output of the following program?
```
try:
    print("a")
    raise Exception("doom")
except:
    print("b")
else:
    print("c")
finally:
    print("d")
```

######***Solution***

In [ ]:
def main():
    try:
        print("a")
        raise Exception("doom")
    except:
        print("b")
    else:
        print("c")
    finally:
        print("d")

if __name__ == "__main__":
    main()

a
b
d

#####***Problem 3 (Modified)***

Problem 3: What will be the output of the following program?
```
try:
    print("a")
    raise Exception("doom")
except Exception as e:
    print(e)
    print("b")
else:
    print("c")
finally:
    print("d")
```

######***Solution***

In [ ]:
def main():
    try:
        print("a")
        raise Exception("doom")
    except Exception as e:
        print(e)
        print("b")
    else:
        print("c")
    finally:
        print("d")

if __name__ == "__main__":
    main()

a
doom
b
d

#####***Problem 4***

Problem 4: What will be the output of the following program?
```
def f():
    try:
        print("a")
        return
    except:
        print("b")
    else:
        print("c")
    finally:
        print("d")

f()
```

######***Solution***

In [ ]:
def f():
    try:
        print("a")
        return
    except:
        print("b")
    else:
        print("c")
    finally:
    # There can be an optional else clause with a try statement, 
    # which is executed irrespective of whether or not exception has occured.
        print("d")

def main():
    f()

if __name__ == "__main__":
    main()

a
d

###***Chapter Functional Programming***

####***Section Recursion***

#####***Problem 1***

Problem 1: Implement a function product to multiply 2 numbers recursively using + and - operators only.
```
>>> product(2, 3)
6
>>> product(2, -3)
-6
```

######***Solution***

In [ ]:
def product(n, m):
    if m == 0:
        return 0
    if m == 1:
        return n
    if m == -1:
        return - n
    if m > 1:
        return n + product(n, m-1)
    if m < -1:
        return -n + product(n, m+1)

def main():
    print(product(2, 3))
    print(product(2, -3))

if __name__ == "__main__":
    main()

6
-6

#####***Problem 2***

Problem 2: Write a function flatten_dict to flatten a nested dictionary by joining the keys with . character.
```
flatten_dict({'a': 1, 'b': {'x': 2, 'y': 3}, 'c': 4})
{'a': 1, 'b.x': 2, 'b.y': 3, 'c': 4}
```

######***Solution***

In [ ]:
def flatten_dict(d):
    out = {}    
    for key, value in d.items():
        if not isinstance(value, dict):
            out[key] = value
        else:
            for key_1, value_1 in flatten_dict(value).items():
                out[key+'.'+key_1] = value_1
    return out

def main():
    print(flatten_dict({'a': 1, 'b': {'x': 2, 'y': 3}, 'c': 4}))

if __name__ == "__main__":
    main()

{'a': 1, 'b.x': 2, 'b.y': 3, 'c': 4}

#####***Problem 3***

Problem 3: Write a function unflatten_dict to do reverse of flatten_dict.
```
unflatten_dict({'a': 1, 'b.x': 2, 'b.y': 3, 'c': 4})
{'a': 1, 'b': {'x': 2, 'y': 3}, 'c': 4}
```

######***Solution***

In [ ]:
def unflatten_dict(d):
    out = {}
    for key in d.keys():
        if "." in key:
            parent, child = key.split(".", 1)
            if parent in out.keys():
                out[parent].update(unflatten_dict({child:d[key]}))
            else:
                out[parent] = unflatten_dict({child:d[key]})
        else:
            out[key] = d[key]
    return out 

def main():
    print(unflatten_dict({'a': 1, 'b.x': 2, 'b.y': 3, 'c': 4}))

if __name__ == "__main__":
    main()

{'a': 1, 'b': {'x': 2, 'y': 3}, 'c': 4}

#####***Problem 4***

Problem 4: Write a function treemap to map a function over nested list.
```
>>> treemap(lambda x: x*x, [1, 2, [3, 4, [5]]])
[1, 4, [9, 16, [25]]]
```

######***Solution***

In [ ]:
def treemap(f, lst):
    out = []
    for item in lst:
        if not isinstance(item, list):
            out.append(f(item))
        else:
            out.append(treemap(f, item))
    return out 

def main():
    print(treemap(lambda x: x*x, [1, 2, [3, 4, [5]]]))

if __name__ == "__main__":
    main()

[1, 4, [9, 16, [25]]]

#####***Problem 5***

Problem 5: Write a function tree_reverse to reverse elements of a nested-list recursively.
```
tree_reverse([[1, 2], [3, [4, 5]], 6])
[6, [[5, 4], 3], [2, 1]]
```

######***Solution***

In [ ]:
def tree_reverse(lst):
    out = []
    for item in lst:
        if not isinstance(item, list):
            out.insert(0, item)
        else:
            out.insert(0, tree_reverse(item))
    return out 

def main():
    print(tree_reverse([[1, 2], [3, [4, 5]], 6]))

if __name__ == "__main__":
    main()

[6, [[5, 4], 3], [2, 1]]

#####***Problem 6***

Problem 6: Complete the above implementation of json_encode by handling the case of dictionaries.

######***Solution***

In [ ]:
def json_encode(data):
    # It looks very much like Python dictionaries and lists. 
    # There are some differences though. 
    # Strings are always enclosed in double quotes, 
    # booleans are represented as true and false.
    if isinstance(data, bool):
        if data:
            return "true"
        else:
            return "false"
    elif isinstance(data, (int, float)):
        return str(data)
    elif isinstance(data, str):
        return escape_string(data)
    elif isinstance(data, list):
        return "[" + ", ".join(json_encode(d) for d in data) + "]"
    elif isinstance(data, dict):
        temp = ['\"' + json_encode(key) + '\"' + ":" + json_encode(value) 
                for key, value in data.items()]
        return "{" + ", ".join(temp) + "}"
    else:
        raise TypeError("%s is not JSON serializable" % repr(data))

def escape_string(s):
    """Escapes double-quote, tab and new line characters in a string."""
    s = s.replace('"', '\\"')
    s = s.replace("\t", "\\t")
    s = s.replace("\n", "\\n")
    return s

def main():
    print(json_encode('Tom said to me\n"Hi"'))
    print(json_encode({'dog':True, 'cat':5}))

if __name__ == "__main__":
    main()

Tom said to me\n\"Hi\"
{"dog":true, "cat":5}

#####***Problem 7***

Problem 7: Implement a program dirtree.py that takes a directory as argument and prints all the files in that directory recursively as a tree.

Hint: Use os.listdir and os.path.isdir funtions.
```
$ python dirtree.py foo/
foo/
|-- a.txt
|-- b.txt
|-- bar/
|   |-- p.txt
|   `-- q.txt
`-- c.txt
```

######***Solution***

In [ ]:
def dirtree(dir_path, layer=None):
    
    if layer is None:
        layer = 0
        print(dir_path)
        
    import os
    files_or_dirs = os.listdir(dir_path)
    
    files = []
    dirs = []
    for file_or_dir in files_or_dirs:
        if len(file_or_dir.split('.')) == 1: # directory name
            dirs.append(file_or_dir)
        else:
            files.append(file_or_dir)
            
    for file in files:
        print("     "*layer + '|--- ' + file)
            
    for directory in dirs:
        print("     "*layer + '|--- ' + directory)
        dirtree(os.path.join(dir_path, directory), layer=layer+1)

def main():
    dirtree('./')

if __name__ == "__main__":
    main()

./
|--- .config
|--- sample_data
     |--- README.md
     |--- anscombe.json
     |--- california_housing_test.csv
     |--- california_housing_train.csv
     |--- mnist_train_small.csv
     |--- mnist_test.csv

#####***Problem 8***

Problem 8: Write a function count_change to count the number of ways to change any given amount. Available coins are also passed as argument to the function.
```
>>> count_change(10, [1, 5])
3
>>> count_change(10, [1, 2])
6
>>> count_change(100, [1, 5, 10, 25, 50])
292
```

######***Solution***

In [ ]:
def count_change(target=10, coins=[1, 5]):
    """
    Args :
        target : 사용가능한 동전을 여러개 사용하여 만들고자 하는 금액  
        coins  : 사용가능한 동전 리스트
      
    Returns :
        사용가능한 동전을 여러개 사용하여 만들고자 하는 금액(target)을 만드는 방법의 갯수
    """

    coins.sort() 
    
    if len(coins) == 0:
        return 0
    elif target < coins[0]:
        return 0
    elif target == coins[0]:
        return 1
    elif target < coins[-1]:
        return count_change(target, coins[:-1])
    elif target == coins[-1]:
        return 1 + count_change(target, coins[:-1])
    else:
        return count_change(target, coins[:-1]) + count_change(target-coins[-1], coins)

def main():
    print(count_change(10, [1, 5]))
    print(count_change(10, [1, 2]))
    print(count_change(100, [1, 5, 10, 25, 50]))

if __name__ == "__main__":
    main()

3
6
292

#####***Problem 9***

Problem 9: Write a function permute to compute all possible permutations of elements of a given list.
```
>>> permute([1, 2, 3])
[[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]
```

######***Solution***

In [ ]:
def permute(lst):
    if len(lst) <= 1:
        return lst
    if len(lst) == 2:
        return [lst, [lst[1],lst[0]]]
    out = []
    for idx in range(len(lst)):
        temp = lst.copy() # 주어진 리스트를 카피하여 
        del temp[idx] # 주어진 인덱스의 리스트 멤버를 제거하여 작은 싸이즈의 리스트를 만든다.
        for small_list in permute(temp): # 이를 임의로 퍼뮤트한 small_list에 대하여
            out.append([lst[idx]] + small_list) # 맨앞에 주어진 인덱스 리스트 멤버를 추가, append to out
    return out

def main():
    print(permute([1, 2, 3]))

if __name__ == "__main__":
    main()

[[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]

####***Section Higher Order Functions & Decorators***

#####***Problem 10***

Problem 10: Write a function profile, which takes a function as argument and returns a new function, which behaves exactly similar to the given function, except that it prints the time consumed in executing it.
```
>>> fib = profile(fib)
>>> fib(20)
time taken: 0.1 sec
10946
```

######***Solution***

In [ ]:
def profile(f):
    def g(*args, **kwargs):
        import time
        tic = time.time()
        try:
            return f(*args, **kwargs)
        except:
            pass
        finally:
            toc = time.time() # excuted before return function output
            print(f'time taken: {toc-tic} sec') # excuted before return function output
    return g

def fib(n):
    if n <= 1:
        return 1
    return fib(n-1) + f(n-2)

def main():
    fib_profile = profile(fib)
    fib_profile(20)

if __name__ == "__main__":
    main()

time taken: 1.4543533325195312e-05 sec

#####***Problem 11***

Problem 11: Write a function vectorize which takes a function f and return a new function, which takes a list as argument and calls f for every element and returns the result as a list.
```
>>> def square(x): return x * x

>>> f = vectorize(square)
>>> f([1, 2, 3])
[1, 4, 9]
>>> g = vectorize(len)
>>> g(["hello", "world"])
[5, 5]
>>> g([[1, 2], [2, 3, 4]])
[2, 3]
```

######***Solution***

In [ ]:
def vectorize(f):
    def g(lst):
        out = []
        for item in lst:
            out.append(f(item))
        return out
    return g

def main():
    def square(x): return x * x
    f = vectorize(square)
    print(f([1, 2, 3]))
    
    g = vectorize(len)
    print(g(["hello", "world"]))
    print(g([[1, 2], [2, 3, 4]]))

if __name__ == "__main__":
    main()

[1, 4, 9]
[5, 5]
[2, 3]

###***Chapter File Input/Output***

#####***Problem 17***

Problem 17: Write a program reverse.py to print lines of a file in reverse order.
```
$ cat she.txt
She sells seashells on the seashore;
The shells that she sells are seashells I'm sure.
So if she sells seashells on the seashore,
I'm sure that the shells are seashore shells.

$ python reverse.py she.txt
I'm sure that the shells are seashore shells.
So if she sells seashells on the seashore,
The shells that she sells are seashells I'm sure.
She sells seashells on the seashore;
```

######***Solution***

In [ ]:
%%writefile she.txt
She sells seashells on the seashore;
The shells that she sells are seashells I'm sure.
So if she sells seashells on the seashore
I'm sure that the shells are seashore shells.

Writing she.txt

In [ ]:
!cat she.txt

She sells seashells on the seashore;
The shells that she sells are seashells I'm sure.
So if she sells seashells on the seashore
I'm sure that the shells are seashore shells.

In [ ]:
%%writefile reverse.py
import sys
file_path = sys.argv[1]
with open(file_path) as f:
    lines = f.readlines()
    for line in lines[::-1]:
        print(line, end="")

Overwriting reverse.py

In [ ]:
!python reverse.py she.txt

I'm sure that the shells are seashore shells.
So if she sells seashells on the seashore
The shells that she sells are seashells I'm sure.
She sells seashells on the seashore;

#####***Problem 18***

Problem 18: Write a program to print each line of a file in reverse order.

######***Solution***

In [ ]:
def reverse_line(file_path):
    with open(file_path) as f:
        lines = f.readlines()
        for line in lines:
            print(line[::-1], end="")

def main():
    file_path = "she.txt"
    reverse_line(file_path)


if __name__ == "__main__":
    main()

;erohsaes eht no sllehsaes slles ehS
.erus m'I sllehsaes era slles ehs taht sllehs ehT
erohsaes eht no sllehsaes slles ehs fi oS
.sllehs erohsaes era sllehs eht taht erus m'I

#####***Problem 19***

Problem 19: Implement unix commands head and tail. The head and tail commands take a file as argument and prints its first and last 10 lines of the file respectively.

######***Solution***

In [ ]:
def head(file_path):
    with open(file_path) as f:
        lines = f.readlines()
        for line in lines[:10]:
            print(line, end="")

def tail(file_path):
    with open(file_path) as f:
        lines = f.readlines()
        for line in lines[-10:]:
            print(line, end="")

def main():
    file_path = "she.txt"
    head(file_path)
    tail(file_path)

if __name__ == "__main__":
    main()

She sells seashells on the seashore;
The shells that she sells are seashells I'm sure.
So if she sells seashells on the seashore
I'm sure that the shells are seashore shells.
She sells seashells on the seashore;
The shells that she sells are seashells I'm sure.
So if she sells seashells on the seashore
I'm sure that the shells are seashore shells.

#####***Problem 20***

Problem 20: Implement unix command grep. The grep command takes a string and a file as arguments and prints all lines in the file which contain the specified string.
```
$ python grep.py she.txt sure
The shells that she sells are seashells I'm sure.
I'm sure that the shells are seashore shells.
```

######***Solution***

In [ ]:
%%writefile grep.py
import sys
file_path, string = sys.argv[1:3]
with open(file_path) as f:
    lines = f.readlines()
    for line in lines:
        if string in line:
            print(line, end="")

Overwriting grep.py

In [ ]:
!python grep.py she.txt sure

The shells that she sells are seashells I'm sure.
I'm sure that the shells are seashore shells.

#####***Problem 21***

Problem 21: Write a program wrap.py that takes filename and width as aruguments and wraps the lines longer than width.
```
$ python wrap.py she.txt 30
She sells seashells on the sea
shore;
The shells that she sells are 
seashells I'm sure.
So if she sells seashells on t
he seashore
I'm sure that the shells are s
eashore shells.
```

######***Solution***

In [ ]:
%%writefile wrap.py
def chunkstring(string, width):
    return [string[0+i:width+i] for i in range(0, len(string), width)]

import sys
file_path, width = sys.argv[1:3]
width = int(width)
with open(file_path) as f:
    lines = f.readlines()
    for line in lines:
        for string in chunkstring(line, width):
            if string[-1] != "\n":
                print(string)
            else:
                print(string, end="")

Overwriting wrap.py

In [ ]:
!python wrap.py she.txt 30

She sells seashells on the sea
shore;
The shells that she sells are
seashells I'm sure.
So if she sells seashells on t
he seashore
I'm sure that the shells are s
eashore shells.

#####***Problem 22***

Problem 22: The above wrap program is not so nice because it is breaking the line at middle of any word. Can you write a new program wordwrap.py that works like wrap.py, but breaks the line only at the word boundaries?
```
$ python wordwrap.py she.txt 30
She sells seashells on the
seashore;
The shells that she sells are
I'm sure.
So if she sells seashells on
seashore
I'm sure that the shells are
shells.
```

######***Solution***

In [ ]:
%%writefile wordwrap.py
def chunkstring(string, width):    
    words = string.split()
    out = []
    temp = " " # initialize two state variables
    length_so_far = 0 # initialize two state variables
    for word in words: 
        # compute length of the string temp if word is appended at the end of temp   
        if length_so_far == 0: # if temp is an empty string
            length_so_far = len(word)
        else: # if temp is not an empty string
            length_so_far = length_so_far + 1 + len(word)
        
        # word is appended at the end of temp 
        # if legth of the resulting string temp is less than equals to width 
        if length_so_far == len(word): # if temp is an empty string
            temp = word
        elif length_so_far <= width: # if append is allowed
            temp = temp + ' ' + word
        else: # if append is not allowed
            out.append(temp) # current temp is appended out list
            temp = word # initialize two state variables
            length_so_far = 0 # initialize two state variables        
    if temp != '':
        out.append(temp)        
    return out

import sys
file_path, width = sys.argv[1:3]
width = int(width)
with open(file_path) as f:
    lines = f.readlines()
    for line in lines:
        for string in chunkstring(line, width):
            if string[-1] != "\n":
                print(string)
            else:
                print(string, end="")

Writing wordwrap.py

In [ ]:
!python wordwrap.py she.txt 30

She sells seashells on the
seashore;
The shells that she sells are
I'm sure.
So if she sells seashells on
seashore
I'm sure that the shells are
shells.

#####***Problem 23***

Problem 23: Write a program center_align.py to center align all lines in the given file.
```
$ python center_align.py she.txt
      She sells seashells on the seashore;
       The shells that she sells are seashells I'm sure.
    So if she sells seashells on the seashore
      I'm sure that the shells are seashore shells.
```

######***Solution***

In [ ]:
%%writefile center_align.py
import sys
file_path = sys.argv[1]
with open(file_path) as f:
    lines = f.readlines()
    max_width = max(map(len, lines))
    for line in lines:
        print(line.center(max_width, ' '), end="")

Overwriting center_align.py

In [ ]:
!python center_align.py she.txt

      She sells seashells on the seashore;
       The shells that she sells are seashells I'm sure.
    So if she sells seashells on the seashore
      I'm sure that the shells are seashore shells.

###***Chapter Module***

####***Section os***

#####***Problem 1***

Problem 1: Write a program to list all files in the given directory.

######***Solution***

In [ ]:
import os

def list_files(directory):
    out = []
    for filename in os.listdir(directory):
        path = os.path.join(directory, filename)
        #if os.path.isfile(path):
        out.append(path)
    return out

def main():
    print(list_files("./"))

if __name__ == "__main__":
    main()

['./.config', './reverse-2.py', './reverse_2.py', './reverse_1.py', './reverse_0.py', './sample_data']

#####***Problem 2***

Problem 2: Write a program extcount.py to count number of files for each extension in the given directory. The program should take a directory name as argument and print count and extension for each available file extension.
```
$ python extcount.py src/
14 py
4 txt
1 csv
```

######***Solution***

In [ ]:
import os

def list_files(directory):
    out = []
    for filename in os.listdir(directory):
        path = os.path.join(directory, filename)
        out.append(path)
    return out

def extcount(directory):
    lst = list_files(directory)
    d = {}
    for path in lst:
        if os.path.isfile(path):
            key = path.split(".")[-1]
            d[key] = d.get(key, 0) + 1
    return d

def main():
    print(extcount("./"))

if __name__ == "__main__":
    main()

{'py': 4}

####***Section sys***

#####***Problem 13***

Problem 13: Write a program add.py that takes 2 numbers as command line arguments and prints its sum.
```
$ python add.py 3 5
8
$ python add.py 2 9
11
```

######***Solution***

In [ ]:
# add.py
import sys
a, b = sys.argv[1:3] # sys.argv index start with 1, not 0
sum = int(a) + int(b)
print(sum)

####***Section datetime***

#####***241***

241 현재시간
datetime 모듈을 사용해서 현재 시간을 화면에 출력해보세요.

######***Solution***

In [ ]:
import datetime

now = datetime.datetime.now()
print(now)

2023-03-19 16:51:28.357344

#####***242***

242 현재시간의 타입
datetime 모듈의 now 함수의 리턴 값의 타입을 화면에 출력해보세요.

######***Solution***

In [ ]:
import datetime

now = datetime.datetime.now()
print(now, type(now))

2023-03-19 16:50:11.443451 <class 'datetime.datetime'>

#####***243***

243 timedelta
datetime 모듈의 timedelta를 사용해서 오늘로부터 5일, 4일, 3일, 2일, 1일 전의 날짜를 화면에 출력해보세요.

######***Solution***

In [ ]:
import datetime

now = datetime.datetime.now()

for day in range(5, 0, -1):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2023-03-14 16:52:54.162491
2023-03-15 16:52:54.162491
2023-03-16 16:52:54.162491
2023-03-17 16:52:54.162491
2023-03-18 16:52:54.162491

#####***244***

244 strftime (string from time)
현재시간을 얻어온 후 다음과 같은 포맷으로 시간을 출력해보세요. strftime 메서드를 사용하세요.
```
18:35:01 
```

######***Solution***

In [ ]:
import datetime

now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))

16:54:37

#####***245***

245 strptime (string parse time)
datetime.datetime.strptime 메서드를 사용하면 문자열 형식의 시간을 datetime.datetime 타입의 시간 값으로 만들어줍니다. "2020-05-04"의 문자열을 시간 타입으로 변환해보세요.

######***Solution***

In [ ]:
import datetime

day = "2020-05-04"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret, type(ret))

2020-05-04 00:00:00 <class 'datetime.datetime'>

####***Section random***

#####***Exercise***

```
# Write a script that, when executed, allows the user to 
# play a game of rock paper scissors against a computer.
# To do this, you will need to accept input from the user,
# and use python's random module to control the computer's
# choices...

# Here is a little code to help you get started:

# This builtin function, choice, randomly selects an item from a list.
from random import choice
sample_list = ['a', 'b', 'c', 'd']

player_typed = input("Type something...\n> ")
print("Random selection: ", choice(sample_list))
print("Player typed: ", player_typed)
```

[Sorce](https://github.com/Tebs-Lab/intro-to-programming/blob/master/exercises/writing-exercises/05-bonus-rock-paper-scissors.py)

######***Solution***

In [ ]:
from random import choice

def rock_paper_scissors_random():
    return choice(["rock", "paper", "scissors"])

def compare(computer, you):
    if computer == you:
        print('Tie')
        return
    for computer_hand, your_hand in zip(["rock", "paper", "scissors"],["paper", "scissors","rock"]):
        if computer == computer_hand:
            if you == your_hand:
                print("You win")
                return 
            else:
                print("You lose")
                return

def main():
    computer = rock_paper_scissors_random()
    you = input("what is your hand? rock, paper, scissors?")
    compare(computer, you)

if __name__ == "__main__":
    main()

what is your hand? rock, paper, scissors?rock
You lose

####***Section json***

####***Section zipfile***

####***Section re***

####***Section urllib***

###***Reference***

[Python Practice Book](https://anandology.com/python-practice-book/getting-started.html#running-python-interpreter)

[초보자를 위한 파이썬 300제](https://wikidocs.net/7027)